# Pandas and Covid-19

This notebook is an example of data analysis and manipulation with **Pandas** and has beed created in [Google Colab](https://colab.research.google.com)

Enjoy it!

In [4]:
import numpy as np
import pandas as pd

## The Data

To get some data I and going to download it from Data Repository by Johns Hopkins CSSE

https://github.com/CSSEGISandData/COVID-19

I first remove the folder where I am goint to store the data so I can re-execute this sentences without any problems ...

In [5]:
!rm -rf ./COVID-19

The dataset is avaible in GitHub so I use the `git` command to get it

In [6]:
!git clone https://github.com/CSSEGISandData/COVID-19.git

Cloning into 'COVID-19'...
remote: Enumerating objects: 22, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 73782 (delta 5), reused 9 (delta 4), pack-reused 73760
Receiving objects: 100% (73782/73782), 612.75 MiB | 26.83 MiB/s, done.
Resolving deltas: 100% (48819/48819), done.
Checking out files: 100% (796/796), done.

More than 600 Mb of data ...

## Exporing the data

In [7]:
!ls -lt ./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports | head

total 125036
-rw-r--r-- 1 root root 564489 Dec 11 08:02 12-10-2020.csv
-rw-r--r-- 1 root root      0 Dec 11 08:02 README.md
-rw-r--r-- 1 root root 564365 Dec 11 08:02 12-09-2020.csv
-rw-r--r-- 1 root root 564020 Dec 11 08:02 12-08-2020.csv
-rw-r--r-- 1 root root 564274 Dec 11 08:02 12-07-2020.csv
-rw-r--r-- 1 root root 564118 Dec 11 08:02 12-06-2020.csv
-rw-r--r-- 1 root root 563825 Dec 11 08:02 12-05-2020.csv
-rw-r--r-- 1 root root 563697 Dec 11 08:02 12-04-2020.csv
-rw-r--r-- 1 root root 563695 Dec 11 08:02 12-03-2020.csv

Yes!!!  
We have data files ...

Perfect. Let's explore the first dataset generated ...

In [8]:
first = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv")

In [9]:
first.head()

  Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0          Anhui  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
1        Beijing  Mainland China  1/22/2020 17:00       14.0     NaN        NaN
2      Chongqing  Mainland China  1/22/2020 17:00        6.0     NaN        NaN
3         Fujian  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
4          Gansu  Mainland China  1/22/2020 17:00        NaN     NaN        NaN

And one of the last ones ...

In [10]:
last = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/12-06-2020.csv")

In [11]:
last.head()

   FIPS Admin2 Province_State  ... Combined_Key Incident_Rate  Case_Fatality_Ratio
0   NaN    NaN            NaN  ...  Afghanistan    121.520719             3.961443
1   NaN    NaN            NaN  ...      Albania   1493.779971             2.105239
2   NaN    NaN            NaN  ...      Algeria    201.254050             2.850927
3   NaN    NaN            NaN  ...      Andorra   9124.441856             1.106383
4   NaN    NaN            NaN  ...       Angola     47.437695             2.270541

[5 rows x 14 columns]

Can I concatenate both datasets?

In [12]:
last.query("Country_Region == 'Spain'")

     FIPS Admin2  ... Incident_Rate Case_Fatality_Ratio
594   NaN    NaN  ...   2833.410759            1.799123
595   NaN    NaN  ...   5644.009553            3.166340
596   NaN    NaN  ...   2364.985497            4.438469
597   NaN    NaN  ...   2128.225413            1.680639
598   NaN    NaN  ...   2182.646766            2.250751
599   NaN    NaN  ...    985.680826            1.590585
600   NaN    NaN  ...   2734.160762            2.037351
601   NaN    NaN  ...   4322.423419            4.348765
602   NaN    NaN  ...   5126.523580            3.764795
603   NaN    NaN  ...   4098.907398            2.620099
604   NaN    NaN  ...   3364.415471            1.927120
605   NaN    NaN  ...   2765.190197            3.295883
606   NaN    NaN  ...   1909.206681            2.416743
607   NaN    NaN  ...   5383.469772            3.323263
608   NaN    NaN  ...   5334.910050            3.224714
609   NaN    NaN  ...   4902.643791            1.035645
610   NaN    NaN  ...   3704.871332            1.130343
611   NaN    NaN  ...   6159.280925            2.230715
612   NaN    NaN  ...   4578.581005            2.575314
613   NaN    NaN  ...           NaN                 NaN

[20 rows x 14 columns]

In [13]:
pd.concat((first, last), axis = 0)

     Province/State  Country/Region  ... Incident_Rate  Case_Fatality_Ratio
0             Anhui  Mainland China  ...           NaN                  NaN
1           Beijing  Mainland China  ...           NaN                  NaN
2         Chongqing  Mainland China  ...           NaN                  NaN
3            Fujian  Mainland China  ...           NaN                  NaN
4             Gansu  Mainland China  ...           NaN                  NaN
...             ...             ...  ...           ...                  ...
3971            NaN             NaN  ...      1.403349             2.562225
3972            NaN             NaN  ...   1921.780149             0.844570
3973            NaN             NaN  ...      7.835454            27.342747
3974            NaN             NaN  ...     97.454541             2.031704
3975            NaN             NaN  ...     72.112310             2.715059

[4014 rows x 17 columns]

Ups!!! The column names don't match :-(

## Loading the data into Pandas and cleaning it

In [14]:
import glob
import os

files = glob.glob("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv")
files.sort(key=os.path.getmtime)

We are going to:
- Create a blank Dataset to store all the data
- Load every dataset unifying the column names so we can concatenate it without any problem.
- Remove extra blank spaces from the country field
- Enrich the information with the date of the data in the correct type

In [15]:
data = pd.DataFrame()
for file in files:  
  df = pd.read_csv(file).rename(columns = {'Province/State' : 'State', 
                        "Country/Region" : 'Country',
                        'Province_State' : 'State', 
                        "Country_Region" : 'Country',
                        'Last Update' : 'Last_Update',
                        'Confirmed' : 'ConfirmedAcum',
                        'Deaths' : 'DeathsAcum',
                        'Recovered' : 'RecoveredAcum'})
  df = df.assign(Date = pd.to_datetime(file[-14:-4], format = '%m-%d-%Y'),
                 Country = df.Country.str.strip())
  data = pd.concat((data, df), axis = 0)

I noticed that the country names were a little messy.   
Let's fix it ...

In [16]:
data['Country'] = data.Country.replace({'Bahamas, The' : 'Bahamas',
                         'Congo (Brazzaville)' : 'Congo',
                         'Congo (Kinshasa)' : 'Congo',
                         "Cote d'Ivoire" : "Cote d'Ivoire",
                         "Curacao" : "Curaçao",
                         'Czech Republic' : 'Czech Republic (Czechia)',
                         'Czechia' : 'Czech Republic (Czechia)',
                         'Faroe Islands' : 'Faeroe Islands',
                         'Macau' : 'Macao',
                         'Mainland China' : 'China',
                         'Palestine' : 'State of Palestine',
                         'Reunion' : 'Réunion',
                         'Saint Kitts and Nevis' : 'Saint Kitts & Nevis',
                         'Sao Tome and Principe' : 'Sao Tome & Principe',
                         'US' : 'United States',
                         'Gambia, The' : 'Gambia',
                         'Hong Kong SAR' : 'Hong Kong',
                         'Korea, South' : 'South Korea',
                         'Macao SAR' : 'Macao',
                         'Taiwan*' : 'Taiwan',
                         'Viet Nam' : 'Vietnam',
                         'West Bank and Gaza' : 'State of Palestine',
                         'occupied Palestinian territory' : 'State of Palestine'
                         })

I'm going to fill in the NULL values ​​of the 'State' and 'Admin2' fields so that later I can group the information correctly

In [17]:
data = data.fillna({'State' : 'NA', 'Admin2' : 'NA'})

Finally I am going to be left alone with the columns that interest me

In [58]:
data = data.filter(['Date', 'Country', 'State', 'Admin2', 'ConfirmedAcum', 'DeathsAcum', 'RecoveredAcum'])

Let's verify the structure of the dateset ...

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 987119 entries, 2599 to 983585
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           987119 non-null  datetime64[ns]
 1   Country        987119 non-null  object
 2   State          987119 non-null  object
 3   Admin2         987119 non-null  object
 4   ConfirmedAcum  987119 non-null  float64
 5   DeathsAcum     987119 non-null  float64
 6   RecoveredAcum  987119 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 60.2+ MB

Wait a set, I think that can be interesting have a column the the active cases. Let's create it ...

In [60]:
data['ActiveAcum'] = data.ConfirmedAcum  - data.DeathsAcum - data.RecoveredAcum

In [61]:
data.query("Country == 'Spain'") \
    .sort_values('Date', ascending = False).head()

             Date Country  ... RecoveredAcum ActiveAcum
983756 2020-12-10   Spain  ...           0.0        0.0
983752 2020-12-10   Spain  ...         125.0     4047.0
983754 2020-12-10   Spain  ...        3905.0    35686.0
983744 2020-12-10   Spain  ...        6392.0    79471.0
983742 2020-12-10   Spain  ...        1537.0    20811.0

[5 rows x 8 columns]

Perfect :-)

Now, I am going to group and summarize the data because I want to be sure that there is only one row per Date, Country, State and Admin2

In [62]:
data = data \
      .groupby(["Date", "Country", "State", "Admin2"], as_index = False )\
      .agg("sum")

In [63]:
data.head()

        Date Country      State  ... DeathsAcum  RecoveredAcum  ActiveAcum
0 2020-01-22   China      Anhui  ...        0.0            0.0         1.0
1 2020-01-22   China    Beijing  ...        0.0            0.0        14.0
2 2020-01-22   China  Chongqing  ...        0.0            0.0         6.0
3 2020-01-22   China     Fujian  ...        0.0            0.0         1.0
4 2020-01-22   China      Gansu  ...        0.0            0.0         0.0

[5 rows x 8 columns]

##  Daily Cases
I am going to enrich the data by creating new columns with the daily cases.  

First I create new columns with the cases from the previous day

In [64]:
data = data \
      .sort_values(['State', 'Country', 'Date']) \
      .assign(ConfirmedPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ConfirmedAcum"],
              DeathsPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["DeathsAcum"],
              RecoveredPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["RecoveredAcum"],
              ActivePrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ActiveAcum"],
      ) \
      .fillna({ 'ConfirmedPrevious' : 0, 'DeathsPrevious' : 0, 'RecoveredPrevious' : 0 })

In [65]:
data.head()

           Date Country  ... RecoveredPrevious ActivePrevious
2599 2020-02-28  Canada  ...               0.0            NaN
2713 2020-02-29  Canada  ...               0.0            1.0
2834 2020-03-01  Canada  ...               0.0            1.0
2961 2020-03-02  Canada  ...               0.0            1.0
3103 2020-03-03  Canada  ...               0.0            1.0

[5 rows x 12 columns]

After that I am going to assign the new fields subtracting the previous acum cases to the actual acum cases

In [66]:
data = data.assign(Confirmed = data.ConfirmedAcum -  data.ConfirmedPrevious,
            Deaths = data.DeathsAcum - data.DeathsPrevious,
            Recovered = data.RecoveredAcum - data.RecoveredPrevious,
            Active = data.ActiveAcum - data.ActivePrevious
            )

I no longer need the fields I used to make the calculation so I can drop them

In [67]:
data = data.drop(['ConfirmedPrevious', 'DeathsPrevious', 'RecoveredPrevious', 'ActivePrevious'], axis = 1)

Does the data look good?

In [68]:
data.query("Country == 'Spain'")

             Date Country      State  ...  Deaths  Recovered  Active
172138 2020-05-14   Spain  Andalusia  ...  1336.0     9918.0     NaN
175432 2020-05-15   Spain  Andalusia  ...     8.0      230.0  -196.0
178732 2020-05-16   Spain  Andalusia  ...    11.0      171.0  -163.0
182036 2020-05-17   Spain  Andalusia  ...     0.0        0.0     0.0
185343 2020-05-18   Spain  Andalusia  ...     3.0      352.0  -317.0
...           ...     ...        ...  ...     ...        ...     ...
967856 2020-12-06   Spain    Unknown  ...     0.0        0.0     0.0
971831 2020-12-07   Spain    Unknown  ...     0.0        0.0     0.0
975806 2020-12-08   Spain    Unknown  ...     0.0        0.0     0.0
979781 2020-12-09   Spain    Unknown  ...     0.0        0.0     0.0
983756 2020-12-10   Spain    Unknown  ...     0.0        0.0     0.0

[4318 rows x 12 columns]

## Data By Country

So far, we have data by 3 geographical levels: Country, State and a lower level called Admin2

The problem is that not all countries have this level of information, so I will create a new dataset only with the country level data

In [70]:
data_by_country = data.groupby(["Date", "Country"], as_index = False ).agg("sum")
data_by_country = data_by_country.sort_values(['Country', 'Date'])
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52979 entries, 848 to 52978
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           52979 non-null  datetime64[ns]
 1   Country        52979 non-null  object
 2   ConfirmedAcum  52979 non-null  float64
 3   DeathsAcum     52979 non-null  float64
 4   RecoveredAcum  52979 non-null  float64
 5   ActiveAcum     52979 non-null  float64
 6   Confirmed      52979 non-null  float64
 7   Deaths         52979 non-null  float64
 8   Recovered      52979 non-null  float64
 9   Active         52979 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 4.4+ MB

In [71]:
data_by_country.head()

           Date      Country  ConfirmedAcum  ...  Deaths  Recovered  Active
848  2020-02-24  Afghanistan            1.0  ...     0.0        0.0     0.0
886  2020-02-25  Afghanistan            1.0  ...     0.0        0.0     0.0
928  2020-02-26  Afghanistan            1.0  ...     0.0        0.0     0.0
977  2020-02-27  Afghanistan            1.0  ...     0.0        0.0     0.0
1030 2020-02-28  Afghanistan            1.0  ...     0.0        0.0     0.0

[5 rows x 10 columns]

In [72]:
data_by_country[data_by_country.Country == 'United States']

            Date        Country  ConfirmedAcum  ...  Deaths  Recovered    Active
7     2020-01-22  United States            1.0  ...     0.0        0.0       0.0
22    2020-01-23  United States            1.0  ...     0.0        0.0       0.0
33    2020-01-24  United States            2.0  ...     0.0        0.0       0.0
47    2020-01-25  United States            2.0  ...     0.0        0.0       0.0
62    2020-01-26  United States            5.0  ...     0.0        0.0       0.0
...          ...            ...            ...  ...     ...        ...       ...
52210 2020-12-06  United States     14756982.0  ...  1113.0    48418.0  126133.0
52400 2020-12-07  United States     14949417.0  ...  1404.0    90113.0  100918.0
52590 2020-12-08  United States     15165295.0  ...  2546.0    72358.0  140974.0
52780 2020-12-09  United States     15386562.0  ...  3124.0   102981.0  115162.0
52970 2020-12-10  United States     15611014.0  ...  2768.0    95151.0  126533.0

[324 rows x 10 columns]

## Cases per million inhabitants

We are going to enrich the information with the number of cases per million inhabitants, so we need population data by country.

A small internet search leads me to a page that has population data for 2020:

https://www.worldometers.info/world-population/population-by-country/

It seems that this information is protected to be downloaded automatically so I have no choice but to do it manually and upload the data to a GitHub Repository:

https://github.com/dvillaj/world-population/

I load the data to the Pandas, clean it up and just maintain the field of the population

In [73]:
population = pd.read_excel("https://github.com/dvillaj/world-population/blob/master/data/world-popultation-2020.xlsx?raw=true", sheet_name="Data")

In [74]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            235 non-null    object
 1   Population (2020)  235 non-null    int64
 2   Yearly Change      235 non-null    float64
 3   Net Change         235 non-null    int64
 4   Density (P/Km²)    235 non-null    float64
 5   Land Area (Km²)    235 non-null    int64
 6   Migrants (net)     201 non-null    float64
 7   Fertility Rate     201 non-null    float64
 8   Average Age        201 non-null    float64
 9   Urban Pop %        222 non-null    float64
 10  World Share        235 non-null    float64
dtypes: float64(7), int64(3), object(1)
memory usage: 20.3+ KB

In [75]:
population = population.rename(columns = {
    'Population (2020)' : 'Population',
    'Yearly Change' : 'Yearly_Change',
    'Net Change' : 'Net_Change',
    'Density (P/Km²)' : 'Density',
    'Land Area (Km²)' : 'Land_Area',
    'Migrants (net)' : 'igrants',
    'Fertility Rate' : 'Fertility',
    'Average Age' : 'Mean_Age',
    'Urban Pop %' : 'Urban_Pop',
    'World Share' : 'World_Share'
})

In [78]:
population = population.filter(['Country', 'Population'])

In [79]:
population.head()

          Country  Population
0     Afghanistan    38928346
1         Albania     2877797
2         Algeria    43851044
3  American Samoa       55191
4         Andorra       77265

Now I join the population Dataset with the country data to have the population in this dataset

In [80]:
data_by_country = data_by_country.merge(population, how = 'left', on = 'Country')

In [81]:
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52979 entries, 0 to 52978
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           52979 non-null  datetime64[ns]
 1   Country        52979 non-null  object
 2   ConfirmedAcum  52979 non-null  float64
 3   DeathsAcum     52979 non-null  float64
 4   RecoveredAcum  52979 non-null  float64
 5   ActiveAcum     52979 non-null  float64
 6   Confirmed      52979 non-null  float64
 7   Deaths         52979 non-null  float64
 8   Recovered      52979 non-null  float64
 9   Active         52979 non-null  float64
 10  Population     51253 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 4.9+ MB

In [82]:
data_by_country.head()

        Date      Country  ConfirmedAcum  ...  Recovered  Active  Population
0 2020-02-24  Afghanistan            1.0  ...        0.0     0.0  38928346.0
1 2020-02-25  Afghanistan            1.0  ...        0.0     0.0  38928346.0
2 2020-02-26  Afghanistan            1.0  ...        0.0     0.0  38928346.0
3 2020-02-27  Afghanistan            1.0  ...        0.0     0.0  38928346.0
4 2020-02-28  Afghanistan            1.0  ...        0.0     0.0  38928346.0

[5 rows x 11 columns]

And finally I calculate the number of cases per million inhabitants

In [84]:
data_by_country = data_by_country \
      .assign(ConfirmedAcum_Millon = data_by_country.ConfirmedAcum / data_by_country.Population * 1000000)
      
data_by_country.head()

        Date      Country  ...  Population  ConfirmedAcum_Millon
0 2020-02-24  Afghanistan  ...  38928346.0              0.025688
1 2020-02-25  Afghanistan  ...  38928346.0              0.025688
2 2020-02-26  Afghanistan  ...  38928346.0              0.025688
3 2020-02-27  Afghanistan  ...  38928346.0              0.025688
4 2020-02-28  Afghanistan  ...  38928346.0              0.025688

[5 rows x 12 columns]

## Rankins

I'm going to create a dataset of last day's cases. 

The goal is to get a set of rankings that tell me the countries with the most cases

So I need a variable that contains the last date of the dataset

In [87]:
last_day = list(data_by_country.Date.sort_values(ascending = False))[0]
last_day

Timestamp('2020-12-10 00:00:00')

Now I can filter the data by this date

In [88]:
last_day_data = data_by_country[data_by_country.Date == last_day]
last_day_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190 entries, 290 to 52978
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  190 non-null    datetime64[ns]
 1   Country               190 non-null    object
 2   ConfirmedAcum         190 non-null    float64
 3   DeathsAcum            190 non-null    float64
 4   RecoveredAcum         190 non-null    float64
 5   ActiveAcum            190 non-null    float64
 6   Confirmed             190 non-null    float64
 7   Deaths                190 non-null    float64
 8   Recovered             190 non-null    float64
 9   Active                190 non-null    float64
 10  Population            184 non-null    float64
 11  ConfirmedAcum_Millon  184 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 19.3+ KB

In [89]:
last_day_data

            Date      Country  ...  Population  ConfirmedAcum_Millon
290   2020-12-10  Afghanistan  ...  38928346.0           1234.396139
567   2020-12-10      Albania  ...   2877797.0          16005.645985
857   2020-12-10      Algeria  ...  43851044.0           2065.606465
1141  2020-12-10      Andorra  ...     77265.0          93056.364460
1407  2020-12-10       Angola  ...  32866272.0            484.539287
...          ...          ...  ...         ...                   ...
51876 2020-12-10    Venezuela  ...  28435940.0           3737.523711
52199 2020-12-10      Vietnam  ...  97338579.0             14.228685
52444 2020-12-10        Yemen  ...  29825964.0             69.771425
52712 2020-12-10       Zambia  ...  18383955.0            984.064637
52978 2020-12-10     Zimbabwe  ...  14862924.0            745.546435

[190 rows x 12 columns]

Let's assign new columns with the most interesting rankins ...

In [90]:
last_day_data = last_day_data.assign(
    Rank_ConfirmedAcum = last_day_data.ConfirmedAcum.rank(),
    Rank_Confirmed = last_day_data.Confirmed.rank(),
    Rank_ActiveAcum = last_day_data.ActiveAcum.rank(),
    Rank_Active = last_day_data.Active.rank(),
    Rank_ConfirmedAcum_Millon = last_day_data.ConfirmedAcum_Millon.rank()
)
last_day_data

            Date      Country  ...  Rank_Active  Rank_ConfirmedAcum_Millon
290   2020-12-10  Afghanistan  ...        133.0                       61.0
567   2020-12-10      Albania  ...        146.0                      124.0
857   2020-12-10      Algeria  ...         20.0                       73.0
1141  2020-12-10      Andorra  ...         39.0                      184.0
1407  2020-12-10       Angola  ...        114.5                       36.0
...          ...          ...  ...          ...                        ...
51876 2020-12-10    Venezuela  ...         41.0                       82.0
52199 2020-12-10      Vietnam  ...        104.0                        5.0
52444 2020-12-10        Yemen  ...         99.5                       15.0
52712 2020-12-10       Zambia  ...        114.5                       51.0
52978 2020-12-10     Zimbabwe  ...         34.0                       45.0

[190 rows x 17 columns]

Which countries have the most confirmed cases?

In [92]:
last_day_data \
  .sort_values('Rank_ConfirmedAcum', ascending = False) \
  .filter(['Country', 'ConfirmedAcum']) \
  .reset_index(drop = True) \
  .head(10)

          Country  ConfirmedAcum
0   United States     15611014.0
1           India      9796744.0
2          Brazil      6781799.0
3          Russia      2546113.0
4          France      2391643.0
5  United Kingdom      1792611.0
6           Italy      1787147.0
7           Spain      1720056.0
8       Argentina      1482216.0
9        Colombia      1399911.0

Which countries have more confirmed cases on the last day?

In [93]:
last_day_data \
  .sort_values('Rank_Confirmed', ascending = False) \
  .filter(['Country', 'Confirmed']) \
  .reset_index(drop = True) \
  .head(10)

          Country  Confirmed
0   United States   224452.0
1          Brazil    53347.0
2         Germany    32734.0
3          Turkey    30424.0
4           India    29373.0
5          Russia    27562.0
6  United Kingdom    21066.0
7           Italy    16998.0
8          Poland    13750.0
9         Ukraine    13736.0

Which countries have the most active cases?

In [94]:
last_day_data \
  .sort_values('Rank_ActiveAcum', ascending = False) \
  .filter(['Country', 'ActiveAcum']) \
  .reset_index(drop = True) \
  .head(10)

          Country  ActiveAcum
0   United States   9333826.0
1          France   2154251.0
2  United Kingdom   1725645.0
3           Spain   1522336.0
4           Italy    696527.0
5         Belgium    582705.0
6     Netherlands    577837.0
7          Brazil    558815.0
8          Turkey    487422.0
9          Russia    486207.0

Which countries had the most active cases on the last day?

In [95]:
last_day_data \
  .sort_values('Rank_Active', ascending = False) \
  .filter(['Country', 'Active']) \
  .reset_index(drop = True) \
  .head(10)

          Country    Active
0   United States  126533.0
1          Turkey   24972.0
2  United Kingdom   20541.0
3          France   12027.0
4         Germany   11489.0
5     Netherlands    8668.0
6          Sweden    7877.0
7           Spain    7630.0
8          Serbia    7337.0
9    South Africa    5980.0

Which countries have the most active cases per million inhabitants?

In [96]:
last_day_data \
  .sort_values('Rank_ConfirmedAcum_Millon', ascending = False) \
  .filter(['Country', 'ConfirmedAcum_Millon']) \
  .reset_index(drop = True) \
  .head(20)

                     Country  ConfirmedAcum_Millon
0                    Andorra          93056.364460
1                 Luxembourg          63959.116774
2                 Montenegro          63950.285480
3                 San Marino          55052.901477
4   Czech Republic (Czechia)          52603.791154
5                    Bahrain          52088.212391
6                    Belgium          51804.704950
7                    Armenia          49013.867577
8                      Qatar          48772.445352
9              United States          47162.806560
10                   Georgia          44859.741395
11                  Slovenia          44215.844821
12                    Panama          42974.278797
13               Switzerland          42600.936240
14                    Israel          40713.485648
15                   Croatia          39946.731845
16             Liechtenstein          37793.747377
17                     Spain          36788.881769
18                    France          36640.330256
19                   Austria          34829.462344

What is the total number of cases?

In [120]:
import locale
locale.setlocale(locale.LC_ALL, '')

total_cases = last_day_data[["ConfirmedAcum", "RecoveredAcum", "DeathsAcum"]] \
        .aggregate("sum")\
        .apply(lambda value : locale.format("%d", value, grouping=True))

total = pd.DataFrame(total_cases, columns= ["Total Cases"])
total.index = ['Confirmed', 'Recovered', 'Deaths']
total

          Total Cases
Confirmed  69,592,554
Recovered  44,871,360
Deaths      1,581,856

## Saving the clean dataset

Finally I will create an Excel file with the information per country once it is clean and in perfect condition to apply some machine learning algorithms ...

In [121]:
data_by_country.to_excel("All_data.xlsx", index = False)

## Convert to PDF

[Google Colab](https://colab.research.google.com) does not have a 'export to PDF' feature so let's install the packages needed to export this notebook to pdf manually.

```
!apt-get install texlive texlive-xetex texlive-latex-extra pandoc
!pip install pypandoc
```


Now let's mount our 'google drive' unit into this notebook so we can access to it.

``` 
from google.colab import drive
drive.mount('/content/drive')
```

Let's list the notebooks in 'Google Drive' to check that everything is fine and copy it to the local directory

```
ls -la "./drive/My Drive/Colab Notebooks/"
```

```
!cp "./drive/My Drive/Colab Notebooks/Covid-19.ipynb" .
```

The last step is generate a PDF from this notebook :-)

```
!jupyter nbconvert --to PDF "Covid-19.ipynb"
````

Other Option ...

In [ ]:
!wget -nc https://raw.githubusercontent.com/brpy/colab-pdf/master/colab_pdf.py
from colab_pdf import colab_pdf
colab_pdf('Covid-19.ipynb')

File ‘colab_pdf.py’ already there; not retrieving.

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:12 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Reading package lists... Done
Building dependency tree
Reading state information... Done
16 packages can be upgraded. Run 'apt list --upgradable' to see them.
Reading package lists... Done
Building dependency tree
Reading state information... Done
texlive-fonts-recommended is already the newest version (2017.20180305-1).
texlive-generic-recommended is already the newest version (2017.20180305-1).
texlive-xetex is already the newest version (2017.20180305-1).
0 upgraded, 0 newly installed, 0 to remove and 16 not upgraded.
[NbConvertApp] Converting notebook /content/drive/My Drive/Colab Notebooks/Covid-19.ipynb to pdf
[NbConvertApp] Writing 108793 bytes to ./notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: [u'xelatex', u'./notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: [u'bibtex', u'./notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 77498 bytes to /content/drive/My Drive/Covid-19.pdf

'File ready to be Downloaded and Saved to Drive'