# Pandas and Covid-19

This notebook is an example of data analysis and manipulation with **Pandas** and has beed created in [Google Colab](https://colab.research.google.com)

Enjoy it!

In [1]:
import numpy as np
import pandas as pd

## The Data

To get some data I and going to download it from Data Repository by Johns Hopkins CSSE

https://github.com/CSSEGISandData/COVID-19

I first remove the folder where I am goint to store the data so I can re-execute this sentences without any problems ...

In [2]:
!rm -rf ./COVID-19

The dataset is avaible in GitHub so I use the `git` command to get it

In [3]:
!git clone https://github.com/CSSEGISandData/COVID-19.git

Cloning into 'COVID-19'...
remote: Enumerating objects: 30, done.
remote: Counting objects: 100% (30/30), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 61431 (delta 16), reused 24 (delta 13), pack-reused 61401
Receiving objects: 100% (61431/61431), 521.10 MiB | 20.10 MiB/s, done.
Resolving deltas: 100% (39091/39091), done.
Checking out files: 100% (718/718), done.

## Exporing the data

In [4]:
!ls -lt ./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports | head

total 103652
-rw-r--r-- 1 root root 557044 Nov  2 12:29 11-01-2020.csv
-rw-r--r-- 1 root root      0 Nov  2 12:29 README.md
-rw-r--r-- 1 root root 557091 Nov  2 12:29 10-31-2020.csv
-rw-r--r-- 1 root root 556796 Nov  2 12:29 10-30-2020.csv
-rw-r--r-- 1 root root 556837 Nov  2 12:29 10-29-2020.csv
-rw-r--r-- 1 root root 556561 Nov  2 12:29 10-28-2020.csv
-rw-r--r-- 1 root root 555889 Nov  2 12:29 10-27-2020.csv
-rw-r--r-- 1 root root 555947 Nov  2 12:29 10-26-2020.csv
-rw-r--r-- 1 root root 556029 Nov  2 12:29 10-25-2020.csv

Yes!!!  
We have data files ...

Perfect. Let's explore the first dataset generated ...

In [5]:
first = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv")

In [6]:
first.head()

  Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0          Anhui  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
1        Beijing  Mainland China  1/22/2020 17:00       14.0     NaN        NaN
2      Chongqing  Mainland China  1/22/2020 17:00        6.0     NaN        NaN
3         Fujian  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
4          Gansu  Mainland China  1/22/2020 17:00        NaN     NaN        NaN

And one of the last ones ...

In [7]:
last = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/11-01-2020.csv")

In [8]:
last.head()

   FIPS Admin2 Province_State  ... Combined_Key Incidence_Rate  Case-Fatality_Ratio
0   NaN    NaN            NaN  ...  Afghanistan     106.608704             3.701116
1   NaN    NaN            NaN  ...      Albania     736.743346             2.443166
2   NaN    NaN            NaN  ...      Algeria     132.886235             3.385846
3   NaN    NaN            NaN  ...      Andorra    6244.742121             1.554404
4   NaN    NaN            NaN  ...       Angola      33.575458             2.591754

[5 rows x 14 columns]

Can I concatenate both datasets?

In [9]:
last.query("Country_Region == 'Spain'")

     FIPS Admin2  ... Incidence_Rate Case-Fatality_Ratio
579   NaN    NaN  ...    1544.852775            1.897213
580   NaN    NaN  ...    4254.247735            2.944056
581   NaN    NaN  ...    1153.878136            3.704960
582   NaN    NaN  ...    1545.252563            1.971570
583   NaN    NaN  ...    1238.037865            2.878621
584   NaN    NaN  ...     782.228111            1.633552
585   NaN    NaN  ...    1667.523438            2.598206
586   NaN    NaN  ...    3147.217252            5.348053
587   NaN    NaN  ...    3365.655577            4.441236
588   NaN    NaN  ...    3013.309710            2.627632
589   NaN    NaN  ...    1851.961004            1.209421
590   NaN    NaN  ...    1812.142396            3.698141
591   NaN    NaN  ...    1230.243505            2.721088
592   NaN    NaN  ...    3989.527093            3.701039
593   NaN    NaN  ...    4612.333473            3.401178
594   NaN    NaN  ...    3241.271003            0.437158
595   NaN    NaN  ...    2309.864532            0.922504
596   NaN    NaN  ...    4946.564792            2.186625
597   NaN    NaN  ...    2999.017393            3.187629
598   NaN    NaN  ...            NaN                 NaN

[20 rows x 14 columns]

In [10]:
pd.concat((first, last), axis = 0)

     Province/State  Country/Region  ... Incidence_Rate  Case-Fatality_Ratio
0             Anhui  Mainland China  ...            NaN                  NaN
1           Beijing  Mainland China  ...            NaN                  NaN
2         Chongqing  Mainland China  ...            NaN                  NaN
3            Fujian  Mainland China  ...            NaN                  NaN
4             Gansu  Mainland China  ...            NaN                  NaN
...             ...             ...  ...            ...                  ...
3954            NaN             NaN  ...    1059.705776             0.904550
3955            NaN             NaN  ...       1.674116            10.000000
3956            NaN             NaN  ...       6.916791            29.083858
3957            NaN             NaN  ...      89.643383             2.117718
3958            NaN             NaN  ...      56.341527             2.901839

[3997 rows x 17 columns]

Ups!!! The column names don't match :-(

## Loading the data into Pandas and cleaning it

In [11]:
import glob
import os

files = glob.glob("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv")
files.sort(key=os.path.getmtime)

We are going to:
- Create a blank Dataset to store all the data
- Load every dataset unifying the column names so we can concatenate it without any problem.
- Remove extra blank spaces from the country field
- Enrich the information with the date of the data in the correct type

In [12]:
data = pd.DataFrame()
for file in files:  
  df = pd.read_csv(file).rename(columns = {'Province/State' : 'State', 
                        "Country/Region" : 'Country',
                        'Province_State' : 'State', 
                        "Country_Region" : 'Country',
                        'Last Update' : 'Last_Update',
                        'Confirmed' : 'ConfirmedAcum',
                        'Deaths' : 'DeathsAcum',
                        'Recovered' : 'RecoveredAcum'})
  df = df.assign(Date = pd.to_datetime(file[-14:-4], format = '%m-%d-%Y'),
                 Country = df.Country.str.strip())
  data = pd.concat((data, df), axis = 0)

I noticed that the country names were a little messy.   
Let's fix it ...

In [13]:
data['Country'] = data.Country.replace({'Bahamas, The' : 'Bahamas',
                         'Congo (Brazzaville)' : 'Congo',
                         'Congo (Kinshasa)' : 'Congo',
                         "Cote d'Ivoire" : "Cote d'Ivoire",
                         "Curacao" : "Curaçao",
                         'Czech Republic' : 'Czech Republic (Czechia)',
                         'Czechia' : 'Czech Republic (Czechia)',
                         'Faroe Islands' : 'Faeroe Islands',
                         'Macau' : 'Macao',
                         'Mainland China' : 'China',
                         'Palestine' : 'State of Palestine',
                         'Reunion' : 'Réunion',
                         'Saint Kitts and Nevis' : 'Saint Kitts & Nevis',
                         'Sao Tome and Principe' : 'Sao Tome & Principe',
                         'US' : 'United States',
                         'Gambia, The' : 'Gambia',
                         'Hong Kong SAR' : 'Hong Kong',
                         'Korea, South' : 'South Korea',
                         'Macao SAR' : 'Macao',
                         'Taiwan*' : 'Taiwan',
                         'Viet Nam' : 'Vietnam',
                         'West Bank and Gaza' : 'State of Palestine',
                         'occupied Palestinian territory' : 'State of Palestine'
                         })

I'm going to fill in the null values ​​of the 'State' and 'Admin2' fields so that I can later group the data correctly

In [14]:
data = data.fillna({'State' : 'NA', 'Admin2' : 'NA'})

Finally I am going to be left alone with the columns that interest me

In [15]:
data = data[['Date', 'Country', 'State', 'Admin2', 'ConfirmedAcum', 'DeathsAcum', 'RecoveredAcum']]

Let's verify the structure of the dateset ...

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 832127 entries, 0 to 3958
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           832127 non-null  datetime64[ns]
 1   Country        832127 non-null  object
 2   State          832127 non-null  object
 3   Admin2         832127 non-null  object
 4   ConfirmedAcum  832108 non-null  float64
 5   DeathsAcum     831685 non-null  float64
 6   RecoveredAcum  831739 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 50.8+ MB

Wait a set, I think that can be interesting have a column the the active cases. Let's create it ...

In [17]:
data['ActiveAcum'] = data.ConfirmedAcum  - data.DeathsAcum - data.RecoveredAcum

In [18]:
data.query("Country == 'Spain'").sort_values('Date', ascending = False).head()

          Date Country      State  ... DeathsAcum  RecoveredAcum  ActiveAcum
598 2020-11-01   Spain    Unknown  ...        0.0            0.0         0.0
588 2020-11-01   Spain  Catalonia  ...     5991.0        26203.0    195806.0
579 2020-11-01   Spain  Andalusia  ...     2470.0        10671.0    117050.0
580 2020-11-01   Spain     Aragon  ...     1654.0         3772.0     50755.0
581 2020-11-01   Spain   Asturias  ...      437.0         1063.0     10295.0

[5 rows x 8 columns]

Perfect :-)

Now, I am going to group and summarize the data because I want to be sure that there is only one row per Date, Country, State and Admin2

In [19]:
data = data.groupby(["Date", "Country", "State", "Admin2"]).agg("sum").reset_index()

In [20]:
data.head()

        Date Country      State  ... DeathsAcum  RecoveredAcum  ActiveAcum
0 2020-01-22   China      Anhui  ...        0.0            0.0         0.0
1 2020-01-22   China    Beijing  ...        0.0            0.0         0.0
2 2020-01-22   China  Chongqing  ...        0.0            0.0         0.0
3 2020-01-22   China     Fujian  ...        0.0            0.0         0.0
4 2020-01-22   China      Gansu  ...        0.0            0.0         0.0

[5 rows x 8 columns]

##  Daily Cases
I am going to enrich the data by creating new columns with the daily cases.  

First I create new columns with the cases from the previous day

In [21]:
data = data.sort_values(['State', 'Country', 'Date']).\
            assign(ConfirmedPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ConfirmedAcum"],
                   DeathsPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["DeathsAcum"],
                   RecoveredPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["RecoveredAcum"],
                   ActivePrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ActiveAcum"],
            ).\
            fillna({ 'ConfirmedPrevious' : 0, 'DeathsPrevious' : 0, 'RecoveredPrevious' : 0 })

In [22]:
data.head()

           Date Country  ... RecoveredPrevious ActivePrevious
2599 2020-02-28  Canada  ...               0.0            NaN
2713 2020-02-29  Canada  ...               0.0            1.0
2834 2020-03-01  Canada  ...               0.0            1.0
2961 2020-03-02  Canada  ...               0.0            1.0
3103 2020-03-03  Canada  ...               0.0            1.0

[5 rows x 12 columns]

After that I am going to assign the new fields subtracting the previous acum cases to the actual acum cases

In [23]:
data = data.assign(Confirmed = data.ConfirmedAcum -  data.ConfirmedPrevious,
            Deaths = data.DeathsAcum - data.DeathsPrevious,
            Recovered = data.RecoveredAcum - data.RecoveredPrevious,
            Active = data.ActiveAcum - data.ActivePrevious
            )

I no longer need the fields I used to make the calculation so I can drop them

In [24]:
data = data.drop(['ConfirmedPrevious', 'DeathsPrevious', 'RecoveredPrevious', 'ActivePrevious'], axis = 1)

Does the data look good?

In [25]:
data.query("Country == 'Spain'")

             Date Country      State  ...  Deaths  Recovered  Active
172072 2020-05-14   Spain  Andalusia  ...  1336.0     9918.0     NaN
175365 2020-05-15   Spain  Andalusia  ...     8.0      230.0  -196.0
178664 2020-05-16   Spain  Andalusia  ...    11.0      171.0  -163.0
181967 2020-05-17   Spain  Andalusia  ...     0.0        0.0     0.0
185273 2020-05-18   Spain  Andalusia  ...     3.0      352.0  -317.0
...           ...     ...        ...  ...     ...        ...     ...
812697 2020-10-28   Spain    Unknown  ...     0.0        0.0     0.0
816655 2020-10-29   Spain    Unknown  ...     0.0        0.0     0.0
820613 2020-10-30   Spain    Unknown  ...     0.0        0.0     0.0
824571 2020-10-31   Spain    Unknown  ...     0.0        0.0     0.0
828529 2020-11-01   Spain    Unknown  ...     0.0        0.0     0.0

[3538 rows x 12 columns]

## Data By Country

So far, we have data by 3 geographical levels: Country, State and a lower level called Admin2

The problem is that not all countries have this level of information, so I will create a new dataset only with the country level data

In [26]:
data_by_country = data.groupby(["Date", "Country"]).agg("sum").reset_index()
data_by_country = data_by_country.sort_values(['Country', 'Date'])
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45563 entries, 848 to 45562
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           45563 non-null  datetime64[ns]
 1   Country        45563 non-null  object
 2   ConfirmedAcum  45563 non-null  float64
 3   DeathsAcum     45563 non-null  float64
 4   RecoveredAcum  45563 non-null  float64
 5   ActiveAcum     45563 non-null  float64
 6   Confirmed      45563 non-null  float64
 7   Deaths         45563 non-null  float64
 8   Recovered      45563 non-null  float64
 9   Active         45563 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 3.8+ MB

In [27]:
data_by_country.head()

           Date      Country  ConfirmedAcum  ...  Deaths  Recovered  Active
848  2020-02-24  Afghanistan            1.0  ...     0.0        0.0     0.0
886  2020-02-25  Afghanistan            1.0  ...     0.0        0.0     0.0
928  2020-02-26  Afghanistan            1.0  ...     0.0        0.0     0.0
977  2020-02-27  Afghanistan            1.0  ...     0.0        0.0     0.0
1030 2020-02-28  Afghanistan            1.0  ...     0.0        0.0     0.0

[5 rows x 10 columns]

In [28]:
data_by_country[data_by_country.Country == 'United States']

            Date        Country  ConfirmedAcum  ...  Deaths  Recovered   Active
7     2020-01-22  United States            1.0  ...     0.0        0.0      0.0
22    2020-01-23  United States            1.0  ...     0.0        0.0      0.0
33    2020-01-24  United States            2.0  ...     0.0        0.0      0.0
47    2020-01-25  United States            2.0  ...     0.0        0.0      0.0
62    2020-01-26  United States            5.0  ...     0.0        0.0      0.0
...          ...            ...            ...  ...     ...        ...      ...
44798 2020-10-28  United States      8856413.0  ...   989.0    30474.0  46895.0
44987 2020-10-29  United States      8944934.0  ...   971.0    36196.0  51354.0
45176 2020-10-30  United States      9044255.0  ...  1030.0    24116.0  74175.0
45365 2020-10-31  United States      9125482.0  ...   862.0    34026.0  46339.0
45554 2020-11-01  United States      9206975.0  ...   447.0    18101.0  62945.0

[285 rows x 10 columns]

## Cases per million inhabitants

We are going to enrich the information with the number of cases per million inhabitants, so we need population data by country.

A small internet search leads me to a page that has population data for 2020:

https://www.worldometers.info/world-population/population-by-country/

It seems that this information is protected to be downloaded automatically so I have no choice but to do it manually and upload the data to a GitHub Repository:

https://github.com/dvillaj/world-population/

I load the data to the Pandas, clean it up and just maintain the field of the population

In [29]:
population = pd.read_excel("https://github.com/dvillaj/world-population/blob/master/data/world-popultation-2020.xlsx?raw=true", sheet_name="Data")

In [30]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            235 non-null    object
 1   Population (2020)  235 non-null    int64
 2   Yearly Change      235 non-null    float64
 3   Net Change         235 non-null    int64
 4   Density (P/Km²)    235 non-null    float64
 5   Land Area (Km²)    235 non-null    int64
 6   Migrants (net)     201 non-null    float64
 7   Fertility Rate     201 non-null    float64
 8   Average Age        201 non-null    float64
 9   Urban Pop %        222 non-null    float64
 10  World Share        235 non-null    float64
dtypes: float64(7), int64(3), object(1)
memory usage: 20.3+ KB

In [31]:
population = population.rename(columns = {
    'Population (2020)' : 'Population',
    'Yearly Change' : 'Yearly_Change',
    'Net Change' : 'Net_Change',
    'Density (P/Km²)' : 'Density',
    'Land Area (Km²)' : 'Land_Area',
    'Migrants (net)' : 'igrants',
    'Fertility Rate' : 'Fertility',
    'Average Age' : 'Mean_Age',
    'Urban Pop %' : 'Urban_Pop',
    'World Share' : 'World_Share'
})

In [32]:
population = population[['Country', 'Population']]

In [33]:
population.head()

          Country  Population
0     Afghanistan    38928346
1         Albania     2877797
2         Algeria    43851044
3  American Samoa       55191
4         Andorra       77265

Now I join the population Dataset with the country data to have the population in this dataset

In [34]:
data_by_country = data_by_country.merge(population, how = 'left', on = 'Country')

In [35]:
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45563 entries, 0 to 45562
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           45563 non-null  datetime64[ns]
 1   Country        45563 non-null  object
 2   ConfirmedAcum  45563 non-null  float64
 3   DeathsAcum     45563 non-null  float64
 4   RecoveredAcum  45563 non-null  float64
 5   ActiveAcum     45563 non-null  float64
 6   Confirmed      45563 non-null  float64
 7   Deaths         45563 non-null  float64
 8   Recovered      45563 non-null  float64
 9   Active         45563 non-null  float64
 10  Population     44071 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 4.2+ MB

In [36]:
data_by_country.head()

        Date      Country  ConfirmedAcum  ...  Recovered  Active  Population
0 2020-02-24  Afghanistan            1.0  ...        0.0     0.0  38928346.0
1 2020-02-25  Afghanistan            1.0  ...        0.0     0.0  38928346.0
2 2020-02-26  Afghanistan            1.0  ...        0.0     0.0  38928346.0
3 2020-02-27  Afghanistan            1.0  ...        0.0     0.0  38928346.0
4 2020-02-28  Afghanistan            1.0  ...        0.0     0.0  38928346.0

[5 rows x 11 columns]

And finally I calculate the number of cases per million inhabitants

In [37]:
data_by_country = data_by_country.assign(ConfirmedAcum_Millon = data_by_country.ConfirmedAcum / data_by_country.Population * 1000000)
data_by_country.head()

        Date      Country  ...  Population  ConfirmedAcum_Millon
0 2020-02-24  Afghanistan  ...  38928346.0              0.025688
1 2020-02-25  Afghanistan  ...  38928346.0              0.025688
2 2020-02-26  Afghanistan  ...  38928346.0              0.025688
3 2020-02-27  Afghanistan  ...  38928346.0              0.025688
4 2020-02-28  Afghanistan  ...  38928346.0              0.025688

[5 rows x 12 columns]

## Rankins

I'm going to create a dataset of last day's cases. 

The goal is to get a set of rankings that tell me the countries with the most cases

So I need a variable that contains the last date of the dataset

In [38]:
last_day = list(data_by_country.Date.sort_values(ascending = False))[0]
last_day

Timestamp('2020-11-01 00:00:00')

Now I can filter the data by this date

In [39]:
last_day_data = data_by_country[data_by_country.Date == last_day]
last_day_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 251 to 45562
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  189 non-null    datetime64[ns]
 1   Country               189 non-null    object
 2   ConfirmedAcum         189 non-null    float64
 3   DeathsAcum            189 non-null    float64
 4   RecoveredAcum         189 non-null    float64
 5   ActiveAcum            189 non-null    float64
 6   Confirmed             189 non-null    float64
 7   Deaths                189 non-null    float64
 8   Recovered             189 non-null    float64
 9   Active                189 non-null    float64
 10  Population            183 non-null    float64
 11  ConfirmedAcum_Millon  183 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 19.2+ KB

In [40]:
last_day_data

            Date         Country  ...  Population  ConfirmedAcum_Millon
251   2020-11-01     Afghanistan  ...  38928346.0           1066.086907
489   2020-11-01         Albania  ...   2877797.0           7367.441136
740   2020-11-01         Algeria  ...  43851044.0           1328.862319
985   2020-11-01         Andorra  ...     77265.0          62447.421213
1212  2020-11-01          Angola  ...  32866272.0            335.754539
...          ...             ...  ...         ...                   ...
44689 2020-11-01         Vietnam  ...  97338579.0             12.122634
44900 2020-11-01  Western Sahara  ...    597339.0             16.740913
45106 2020-11-01           Yemen  ...  29825964.0             69.167924
45335 2020-11-01          Zambia  ...  18383955.0            896.433874
45562 2020-11-01        Zimbabwe  ...  14862924.0            563.415382

[189 rows x 12 columns]

Let's assign new columns with the most interesting rankins ...

In [41]:
last_day_data = last_day_data.assign(
    Rank_ConfirmedAcum = last_day_data.ConfirmedAcum.rank(),
    Rank_Confirmed = last_day_data.Confirmed.rank(),
    Rank_ActiveAcum = last_day_data.ActiveAcum.rank(),
    Rank_Active = last_day_data.Active.rank(),
    Rank_ConfirmedAcum_Millon = last_day_data.ConfirmedAcum_Millon.rank()
)
last_day_data

            Date         Country  ...  Rank_Active  Rank_ConfirmedAcum_Millon
251   2020-11-01     Afghanistan  ...        139.0                       65.0
489   2020-11-01         Albania  ...        151.0                      112.0
740   2020-11-01         Algeria  ...        145.0                       70.0
985   2020-11-01         Andorra  ...        137.0                      183.0
1212  2020-11-01          Angola  ...         26.0                       34.0
...          ...             ...  ...          ...                        ...
44689 2020-11-01         Vietnam  ...         57.5                        4.0
44900 2020-11-01  Western Sahara  ...         81.0                        5.0
45106 2020-11-01           Yemen  ...         57.5                       16.0
45335 2020-11-01          Zambia  ...         50.5                       56.0
45562 2020-11-01        Zimbabwe  ...         42.0                       45.0

[189 rows x 17 columns]

Which countries have the most confirmed cases?

In [42]:
last_day_data.sort_values('Rank_ConfirmedAcum', ascending = False)[['Country', 'ConfirmedAcum']].reset_index(drop = True).head(10)

          Country  ConfirmedAcum
0   United States      9206975.0
1           India      8229313.0
2          Brazil      5545705.0
3          Russia      1624648.0
4          France      1458999.0
5           Spain      1185678.0
6       Argentina      1173533.0
7        Colombia      1082767.0
8  United Kingdom      1038054.0
9          Mexico       929392.0

Which countries have more confirmed cases on the last day?

In [43]:
last_day_data.sort_values('Rank_Confirmed', ascending = False)[['Country', 'Confirmed']].reset_index(drop = True).head(10)

          Country  Confirmed
0   United States    81493.0
1          France    46290.0
2           India    45231.0
3           Italy    29905.0
4  United Kingdom    23261.0
5         Germany    20270.0
6          Russia    18381.0
7          Poland    17171.0
8         Belgium    11789.0
9          Brazil    10100.0

Which countries have the most active cases?

In [44]:
last_day_data.sort_values('Rank_ActiveAcum', ascending = False)[['Country', 'ActiveAcum']].reset_index(drop = True).head(10)

          Country  ActiveAcum
0   United States   5345401.0
1          France   1298278.0
2           Spain    999424.0
3  United Kingdom    988406.0
4           India    561908.0
5         Belgium    403462.0
6           Italy    378129.0
7          Russia    378003.0
8          Brazil    363293.0
9     Netherlands    352945.0

Which countries had the most active cases on the last day?

In [45]:
last_day_data.sort_values('Rank_Active', ascending = False)[['Country', 'Active']].reset_index(drop = True).head(10)

          Country   Active
0   United States  62945.0
1          France  45490.0
2           Italy  26743.0
3  United Kingdom  23097.0
4         Germany  13077.0
5         Belgium  11427.0
6          Poland  10704.0
7     Netherlands   8646.0
8          Russia   7963.0
9         Ukraine   5534.0

Which countries have the most active cases per million inhabitants?

In [46]:
last_day_data.sort_values('Rank_ConfirmedAcum_Millon', ascending = False)[['Country', 'ConfirmedAcum_Millon']].reset_index(drop = True).head(20)

                     Country  ConfirmedAcum_Millon
0                    Andorra          62447.421213
1                    Bahrain          48145.394708
2                      Qatar          46066.490273
3                    Belgium          38052.833988
4                     Israel          36386.312342
5                   Holy See          33707.865169
6   Czech Republic (Czechia)          31902.568508
7                     Panama          31134.010249
8                    Armenia          31132.782563
9                 Montenegro          29796.231606
10                    Kuwait          29629.293132
11             United States          27815.411666
12                      Peru          27371.921518
13                Luxembourg          27371.568969
14                San Marino          27349.621290
15                     Chile          26776.449986
16                    Brazil          26090.140245
17                 Argentina          25965.547133
18                     Spain          25359.504434
19                      Oman          22663.496406

What is the total number of cases?

In [47]:
import locale
locale.setlocale(locale.LC_ALL, '')

total = pd.DataFrame(last_day_data[["ConfirmedAcum", "RecoveredAcum", "DeathsAcum"]].aggregate("sum")\
                     .apply(lambda value : locale.format("%d", value, grouping=True)))
total.columns = ["Total Cases"]
total.index = ['Confirmed', 'Deaths', 'Recovered']
display(total.T)

              Confirmed      Deaths  Recovered
Total Cases  46,509,232  31,078,769  1,200,361

## Saving the clean dataset

Finally I will create an Excel file with the information per country once it is clean and in perfect condition to apply some machine learning algorithms ...

In [48]:
data_by_country.to_excel("All_data.xlsx", index = False)

## Convert to PDF

[Google Colab](https://colab.research.google.com) does not have a 'export to PDF' feature so let's install the packages needed to export this notebook to pdf manually.

```
!apt-get install texlive texlive-xetex texlive-latex-extra pandoc
!pip install pypandoc
```


Now let's mount our 'google drive' unit into this notebook so we can access to it.

``` 
from google.colab import drive
drive.mount('/content/drive')
```

Let's list the notebooks in 'Google Drive' to check that everything is fine and copy it to the local directory

```
ls -la "./drive/My Drive/Colab Notebooks/"
```

```
!cp "./drive/My Drive/Colab Notebooks/Covid-19.ipynb" .
```

The last step is generate a PDF from this notebook :-)

```
!jupyter nbconvert --to PDF "Covid-19.ipynb"
````