# Pandas and Covid-19

This notebook is an example of data analysis and manipulation with Pandas.

Enjoy it!

In [0]:
import numpy as np
import pandas as pd

## The Data

To get some data I and going to download it from Data Repository by Johns Hopkins CSSE

https://github.com/CSSEGISandData/COVID-19

I first remove the folder where I am goint to store the data so I can re-execute this sentences without any problems ...

In [0]:
!rm -rf ./COVID-19

The dataset is avaible in GitHub so I use the `git` command to get it

In [3]:
!git clone https://github.com/CSSEGISandData/COVID-19.git

Cloning into 'COVID-19'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 21226 (delta 0), reused 2 (delta 0), pack-reused 21219
Receiving objects: 100% (21226/21226), 89.05 MiB | 32.87 MiB/s, done.
Resolving deltas: 100% (11301/11301), done.

## Exporing the data

In [4]:
!ls -lt ./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports | head

total 9232
-rw-r--r-- 1 root root 317954 Apr 20 06:22 04-19-2020.csv
-rw-r--r-- 1 root root      0 Apr 20 06:22 README.md
-rw-r--r-- 1 root root 315926 Apr 20 06:22 04-18-2020.csv
-rw-r--r-- 1 root root 314848 Apr 20 06:22 04-17-2020.csv
-rw-r--r-- 1 root root 314226 Apr 20 06:22 04-16-2020.csv
-rw-r--r-- 1 root root 309742 Apr 20 06:22 04-13-2020.csv
-rw-r--r-- 1 root root 311068 Apr 20 06:22 04-14-2020.csv
-rw-r--r-- 1 root root 312551 Apr 20 06:22 04-15-2020.csv
-rw-r--r-- 1 root root 305548 Apr 20 06:22 04-12-2020.csv

Yes!!!  
We have data files ...

Perfect. Let's explore the first dataset generated ...

In [0]:
first = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv")

In [6]:
first.head()

  Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0          Anhui  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
1        Beijing  Mainland China  1/22/2020 17:00       14.0     NaN        NaN
2      Chongqing  Mainland China  1/22/2020 17:00        6.0     NaN        NaN
3         Fujian  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
4          Gansu  Mainland China  1/22/2020 17:00        NaN     NaN        NaN

And one of the last ones ...

In [0]:
last = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-18-2020.csv")

In [8]:
last.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...     15  Abbeville, South Carolina, US
1  22001.0     Acadia  ...    103          Acadia, Louisiana, US
2  51001.0   Accomack  ...     33         Accomack, Virginia, US
3  16001.0        Ada  ...    584                 Ada, Idaho, US
4  19001.0      Adair  ...      1                Adair, Iowa, US

[5 rows x 12 columns]

Can I concatenate both datasets?

In [9]:
last.query("Country_Region == 'Spain'")

      FIPS Admin2 Province_State  ... Recovered Active  Combined_Key
3025   NaN    NaN            NaN  ...     74797  96886         Spain

[1 rows x 12 columns]

In [10]:
pd.concat((first, last), axis = 0)

     Province/State  Country/Region  ... Active        Combined_Key
0             Anhui  Mainland China  ...    NaN                 NaN
1           Beijing  Mainland China  ...    NaN                 NaN
2         Chongqing  Mainland China  ...    NaN                 NaN
3            Fujian  Mainland China  ...    NaN                 NaN
4             Gansu  Mainland China  ...    NaN                 NaN
...             ...             ...  ...    ...                 ...
3048            NaN             NaN  ...  347.0  West Bank and Gaza
3049            NaN             NaN  ...    6.0      Western Sahara
3050            NaN             NaN  ...    1.0               Yemen
3051            NaN             NaN  ...   22.0              Zambia
3052            NaN             NaN  ...   20.0            Zimbabwe

[3091 rows x 15 columns]

Ups!!! The column names don't match :-(

#Loading the data into Pandas  and cleaning it

In [0]:
import glob
import os

files = glob.glob("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv")
files.sort(key=os.path.getmtime)

We are going to:
- Create a blank Dataset to store all the data
- Load every dataset unifying the column names so we can concatenate it without any problem.
- Remove extra blank spaces from the country field
- Enrich the information with the date of the data in the correct type

In [0]:
data = pd.DataFrame()
for file in files:  
  df = pd.read_csv(file).rename(columns = {'Province/State' : 'State', 
                        "Country/Region" : 'Country',
                        'Province_State' : 'State', 
                        "Country_Region" : 'Country',
                        'Last Update' : 'Last_Update',
                        'Confirmed' : 'ConfirmedAcum',
                        'Deaths' : 'DeathsAcum',
                        'Recovered' : 'RecoveredAcum'})
  df = df.assign(Date = pd.to_datetime(file[-14:-4], format = '%m-%d-%Y'),
                 Country = df.Country.str.strip())
  data = pd.concat((data, df), axis = 0)

I noticed that the country names were a little messy.   
Let's fix it ...

In [0]:
data['Country'] = data.Country.replace({'Bahamas, The' : 'Bahamas',
                         'Congo (Brazzaville)' : 'Congo',
                         'Congo (Kinshasa)' : 'Congo',
                         "Cote d'Ivoire" : "Cote d'Ivoire",
                         "Curacao" : "Curaçao",
                         'Czech Republic' : 'Czech Republic (Czechia)',
                         'Czechia' : 'Czech Republic (Czechia)',
                         'Faroe Islands' : 'Faeroe Islands',
                         'Macau' : 'Macao',
                         'Mainland China' : 'China',
                         'Palestine' : 'State of Palestine',
                         'Reunion' : 'Réunion',
                         'Saint Kitts and Nevis' : 'Saint Kitts & Nevis',
                         'Sao Tome and Principe' : 'Sao Tome & Principe',
                         'US' : 'United States',
                         'Gambia, The' : 'Gambia',
                         'Hong Kong SAR' : 'Hong Kong',
                         'Korea, South' : 'South Korea',
                         'Macao SAR' : 'Macao',
                         'Taiwan*' : 'Taiwan',
                         'Viet Nam' : 'Vietnam',
                         'West Bank and Gaza' : 'State of Palestine'
                         })

I'm going to fill in the null values ​​of the 'State' and 'Admin2' fields so that I can later group the data correctly

In [0]:
data = data.fillna({'State' : 'NA', 'Admin2' : 'NA'})

Finally I am going to be left alone with the columns that interest me

In [0]:
data = data[['Date', 'Country', 'State', 'Admin2', 'ConfirmedAcum', 'DeathsAcum', 'RecoveredAcum']]

Let's verify the structure of the dateset ...

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95588 entries, 0 to 3071
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           95588 non-null  datetime64[ns]
 1   Country        95588 non-null  object
 2   State          95588 non-null  object
 3   Admin2         95588 non-null  object
 4   ConfirmedAcum  95569 non-null  float64
 5   DeathsAcum     95147 non-null  float64
 6   RecoveredAcum  95200 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 5.8+ MB

Wait a set, I think that can be interesting have a column the the active cases. Let's create it ...

In [0]:
data['ActiveAcum'] = data.ConfirmedAcum  - data.DeathsAcum - data.RecoveredAcum

In [18]:
data.query("Country == 'Spain'").sort_values('Date', ascending = False).head()

           Date Country State  ... DeathsAcum  RecoveredAcum  ActiveAcum
3044 2020-04-19   Spain    NA  ...    20453.0        77357.0    100864.0
3025 2020-04-18   Spain    NA  ...    20043.0        74797.0     96886.0
3017 2020-04-17   Spain    NA  ...    20002.0        74797.0     96040.0
3013 2020-04-16   Spain    NA  ...    19315.0        74797.0     90836.0
2998 2020-04-15   Spain    NA  ...    18708.0        70853.0     88083.0

[5 rows x 8 columns]

Perfect :-)

Now, I am going to group and summarize the data because I want to be sure that there is only one row per Date, Country, State and Admin2

In [0]:
data = data.groupby(["Date", "Country", "State", "Admin2"]).agg("sum").reset_index()

In [20]:
data.head()

        Date Country      State  ... DeathsAcum  RecoveredAcum  ActiveAcum
0 2020-01-22   China      Anhui  ...        0.0            0.0         0.0
1 2020-01-22   China    Beijing  ...        0.0            0.0         0.0
2 2020-01-22   China  Chongqing  ...        0.0            0.0         0.0
3 2020-01-22   China     Fujian  ...        0.0            0.0         0.0
4 2020-01-22   China      Gansu  ...        0.0            0.0         0.0

[5 rows x 8 columns]

# Daily Cases
I am going to enrich the data by creating new columns with the daily cases.  

First I create new columns with the cases from the previous day

In [0]:
data = data.sort_values(['State', 'Country', 'Date']).\
            assign(ConfirmedPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ConfirmedAcum"],
                   DeathsPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["DeathsAcum"],
                   RecoveredPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["RecoveredAcum"],
                   ActivePrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ActiveAcum"],
            ).\
            fillna({ 'ConfirmedPrevious' : 0, 'DeathsPrevious' : 0, 'RecoveredPrevious' : 0 })

In [22]:
data.head()

           Date Country  ... RecoveredPrevious ActivePrevious
2599 2020-02-28  Canada  ...               0.0            NaN
2713 2020-02-29  Canada  ...               0.0            1.0
2834 2020-03-01  Canada  ...               0.0            1.0
2961 2020-03-02  Canada  ...               0.0            1.0
3103 2020-03-03  Canada  ...               0.0            1.0

[5 rows x 12 columns]

After that I am going to assign the new fields subtracting the previous acum cases to the actual acum cases

In [0]:
data = data.assign(Confirmed = data.ConfirmedAcum -  data.ConfirmedPrevious,
            Deaths = data.DeathsAcum - data.DeathsPrevious,
            Recovered = data.RecoveredAcum - data.RecoveredPrevious,
            Active = data.ActiveAcum - data.ActivePrevious
            )

I no longer need the fields I used to make the calculation so I can drop them

In [0]:
data = data.drop(['ConfirmedPrevious', 'DeathsPrevious', 'RecoveredPrevious', 'ActivePrevious'], axis = 1)

Does the data look good?

In [25]:
data.query("Country == 'Spain'")

            Date Country State Admin2  ...  Confirmed  Deaths  Recovered  Active
545   2020-02-01   Spain    NA     NA  ...        1.0     0.0        0.0     NaN
612   2020-02-02   Spain    NA     NA  ...        0.0     0.0        0.0     0.0
679   2020-02-03   Spain    NA     NA  ...        0.0     0.0        0.0     0.0
749   2020-02-04   Spain    NA     NA  ...        0.0     0.0        0.0     0.0
819   2020-02-05   Spain    NA     NA  ...        0.0     0.0        0.0     0.0
...          ...     ...   ...    ...  ...        ...     ...        ...     ...
80538 2020-04-15   Spain    NA     NA  ...     5103.0   652.0     3349.0  1102.0
83563 2020-04-16   Spain    NA     NA  ...     7304.0   607.0     3944.0  2753.0
86603 2020-04-17   Spain    NA     NA  ...     5891.0   687.0        0.0  5204.0
89647 2020-04-18   Spain    NA     NA  ...      887.0    41.0        0.0   846.0
92699 2020-04-19   Spain    NA     NA  ...     6948.0   410.0     2560.0  3978.0

[79 rows x 12 columns]

## Data By Country

So far, we have data by 3 geographical levels: Country, State and a lower level called Admin2

The problem is that not all countries have this level of information, so I will create a new dataset only with the country level data

In [26]:
data_by_country = data.groupby(["Date", "Country"]).agg("sum").reset_index()
data_by_country = data_by_country.sort_values(['Country', 'Date'])
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8928 entries, 848 to 3045
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8928 non-null   datetime64[ns]
 1   Country        8928 non-null   object
 2   ConfirmedAcum  8928 non-null   float64
 3   DeathsAcum     8928 non-null   float64
 4   RecoveredAcum  8928 non-null   float64
 5   ActiveAcum     8928 non-null   float64
 6   Confirmed      8928 non-null   float64
 7   Deaths         8928 non-null   float64
 8   Recovered      8928 non-null   float64
 9   Active         8928 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 767.2+ KB

In [27]:
data_by_country.head()

           Date      Country  ConfirmedAcum  ...  Deaths  Recovered  Active
848  2020-02-24  Afghanistan            1.0  ...     0.0        0.0     0.0
886  2020-02-25  Afghanistan            1.0  ...     0.0        0.0     0.0
928  2020-02-26  Afghanistan            1.0  ...     0.0        0.0     0.0
977  2020-02-27  Afghanistan            1.0  ...     0.0        0.0     0.0
1030 2020-02-28  Afghanistan            1.0  ...     0.0        0.0     0.0

[5 rows x 10 columns]

In [28]:
data_by_country[data_by_country.Country == 'United States']

           Date        Country  ConfirmedAcum  ...  Deaths  Recovered   Active
7    2020-01-22  United States            1.0  ...     0.0        0.0      0.0
22   2020-01-23  United States            1.0  ...     0.0        0.0      0.0
33   2020-01-24  United States            2.0  ...     0.0        0.0      0.0
47   2020-01-25  United States            2.0  ...     0.0        0.0      0.0
62   2020-01-26  United States            5.0  ...     0.0        0.0      0.0
...         ...            ...            ...  ...     ...        ...      ...
8183 2020-04-15  United States       636350.0  ...  2494.0     4333.0  21844.0
8367 2020-04-16  United States       667801.0  ...  4591.0     2607.0  24251.0
8551 2020-04-17  United States       699706.0  ...  3857.0     3842.0  24277.0
8735 2020-04-18  United States       732197.0  ...  1891.0     6295.0  24305.0
8919 2020-04-19  United States       759086.0  ...  1997.0     5497.0  19397.0

[89 rows x 10 columns]

## Cases per million inhabitants

We are going to enrich the information with the number of cases per million inhabitants, so we need population data by country.

A small internet search leads me to a page that has population data for 2020:

https://www.worldometers.info/world-population/population-by-country/

It seems that this information is protected to be downloaded automatically so I have no choice but to do it manually and upload the data to a GitHub Repository:

https://github.com/dvillaj/world-population/

I load the data to the Pandas, clean it up and just maintain the field of the population

In [0]:
population = pd.read_excel("https://github.com/dvillaj/world-population/blob/master/data/world-popultation-2020.xlsx?raw=true", sheet_name="Data")

In [30]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            235 non-null    object
 1   Population (2020)  235 non-null    int64
 2   Yearly Change      235 non-null    float64
 3   Net Change         235 non-null    int64
 4   Density (P/Km²)    235 non-null    float64
 5   Land Area (Km²)    235 non-null    int64
 6   Migrants (net)     201 non-null    float64
 7   Fertility Rate     201 non-null    float64
 8   Average Age        201 non-null    float64
 9   Urban Pop %        222 non-null    float64
 10  World Share        235 non-null    float64
dtypes: float64(7), int64(3), object(1)
memory usage: 20.3+ KB

In [0]:
population = population.rename(columns = {
    'Population (2020)' : 'Population',
    'Yearly Change' : 'Yearly_Change',
    'Net Change' : 'Net_Change',
    'Density (P/Km²)' : 'Density',
    'Land Area (Km²)' : 'Land_Area',
    'Migrants (net)' : 'igrants',
    'Fertility Rate' : 'Fertility',
    'Average Age' : 'Mean_Age',
    'Urban Pop %' : 'Urban_Pop',
    'World Share' : 'World_Share'
})

In [0]:
population = population[['Country', 'Population']]

In [33]:
population.head()

          Country  Population
0     Afghanistan    38928346
1         Albania     2877797
2         Algeria    43851044
3  American Samoa       55191
4         Andorra       77265

Now I join the population Dataset with the country data to have the population in this dataset

In [0]:
data_by_country = data_by_country.merge(population, how = 'left', on = 'Country')

In [35]:
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8928 entries, 0 to 8927
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8928 non-null   datetime64[ns]
 1   Country        8928 non-null   object
 2   ConfirmedAcum  8928 non-null   float64
 3   DeathsAcum     8928 non-null   float64
 4   RecoveredAcum  8928 non-null   float64
 5   ActiveAcum     8928 non-null   float64
 6   Confirmed      8928 non-null   float64
 7   Deaths         8928 non-null   float64
 8   Recovered      8928 non-null   float64
 9   Active         8928 non-null   float64
 10  Population     8605 non-null   float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 837.0+ KB

In [36]:
data_by_country.head()

        Date      Country  ConfirmedAcum  ...  Recovered  Active  Population
0 2020-02-24  Afghanistan            1.0  ...        0.0     0.0  38928346.0
1 2020-02-25  Afghanistan            1.0  ...        0.0     0.0  38928346.0
2 2020-02-26  Afghanistan            1.0  ...        0.0     0.0  38928346.0
3 2020-02-27  Afghanistan            1.0  ...        0.0     0.0  38928346.0
4 2020-02-28  Afghanistan            1.0  ...        0.0     0.0  38928346.0

[5 rows x 11 columns]

And finally I calculate the number of cases per million inhabitants

In [37]:
data_by_country = data_by_country.assign(ConfirmedAcum_Millon = data_by_country.ConfirmedAcum / data_by_country.Population * 1000000)
data_by_country.head()

        Date      Country  ...  Population  ConfirmedAcum_Millon
0 2020-02-24  Afghanistan  ...  38928346.0              0.025688
1 2020-02-25  Afghanistan  ...  38928346.0              0.025688
2 2020-02-26  Afghanistan  ...  38928346.0              0.025688
3 2020-02-27  Afghanistan  ...  38928346.0              0.025688
4 2020-02-28  Afghanistan  ...  38928346.0              0.025688

[5 rows x 12 columns]

## Rankins

I'm going to create a dataset of last day's cases. 

The goal is to get a set of rankings that tell me the countries with the most cases

So I need a variable that contains the last date of the dataset

In [38]:
last_day = list(data_by_country.Date.sort_values(ascending = False))[0]
last_day

Timestamp('2020-04-19 00:00:00')

Now I can filter the data by this date

In [39]:
last_day_data = data_by_country[data_by_country.Date == last_day]
last_day_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 55 to 8920
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  184 non-null    datetime64[ns]
 1   Country               184 non-null    object
 2   ConfirmedAcum         184 non-null    float64
 3   DeathsAcum            184 non-null    float64
 4   RecoveredAcum         184 non-null    float64
 5   ActiveAcum            184 non-null    float64
 6   Confirmed             184 non-null    float64
 7   Deaths                184 non-null    float64
 8   Recovered             184 non-null    float64
 9   Active                184 non-null    float64
 10  Population            178 non-null    float64
 11  ConfirmedAcum_Millon  178 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 18.7+ KB

In [40]:
last_day_data

           Date         Country  ...  Population  ConfirmedAcum_Millon
55   2020-04-19     Afghanistan  ...  38928346.0             25.585469
97   2020-04-19         Albania  ...   2877797.0            195.288271
152  2020-04-19         Algeria  ...  43851044.0             59.952963
201  2020-04-19         Andorra  ...     77265.0           9227.981622
232  2020-04-19          Angola  ...  32866272.0              0.730232
...         ...             ...  ...         ...                   ...
8831 2020-04-19         Vietnam  ...  97338579.0              2.753276
8846 2020-04-19  Western Sahara  ...    597339.0             10.044548
8856 2020-04-19           Yemen  ...  29825964.0              0.033528
8889 2020-04-19          Zambia  ...  18383955.0              3.318111
8920 2020-04-19        Zimbabwe  ...  14862924.0              1.682038

[184 rows x 12 columns]

Let's assign new columns with the most interesting rankins ...

In [41]:
last_day_data = last_day_data.assign(
    Rank_ConfirmedAcum = last_day_data.ConfirmedAcum.rank(),
    Rank_Confirmed = last_day_data.Confirmed.rank(),
    Rank_ActiveAcum = last_day_data.ActiveAcum.rank(),
    Rank_Active = last_day_data.Active.rank(),
    Rank_ConfirmedAcum_Millon = last_day_data.ConfirmedAcum_Millon.rank()
)
last_day_data

           Date         Country  ...  Rank_Active  Rank_ConfirmedAcum_Millon
55   2020-04-19     Afghanistan  ...        134.0                       56.0
97   2020-04-19         Albania  ...         89.0                      108.0
152  2020-04-19         Algeria  ...         12.0                       80.0
201  2020-04-19         Andorra  ...         18.0                      176.0
232  2020-04-19          Angola  ...         61.0                        4.0
...         ...             ...  ...          ...                        ...
8831 2020-04-19         Vietnam  ...         38.5                       19.0
8846 2020-04-19  Western Sahara  ...         61.0                       36.0
8856 2020-04-19           Yemen  ...         61.0                        1.0
8889 2020-04-19          Zambia  ...         92.5                       23.0
8920 2020-04-19        Zimbabwe  ...         61.0                       14.0

[184 rows x 17 columns]

Which countries have the most confirmed cases?

In [42]:
last_day_data.sort_values('Rank_ConfirmedAcum', ascending = False)[['Country', 'ConfirmedAcum']].reset_index(drop = True).head(10)

          Country  ConfirmedAcum
0   United States       759086.0
1           Spain       198674.0
2           Italy       178972.0
3          France       154097.0
4         Germany       145184.0
5  United Kingdom       121172.0
6          Turkey        86306.0
7           China        83805.0
8            Iran        82211.0
9          Russia        42853.0

Which countries have more confirmed cases on the last day?

In [43]:
last_day_data.sort_values('Rank_Confirmed', ascending = False)[['Country', 'Confirmed']].reset_index(drop = True).head(10)

          Country  Confirmed
0   United States    27159.0
1           Spain     6948.0
2          Russia     6060.0
3  United Kingdom     5858.0
4          France     4948.0
5          Turkey     3977.0
6           Italy     3047.0
7          Brazil     1996.0
8           India     1893.0
9         Germany     1842.0

Which countries have the most active cases?

In [44]:
last_day_data.sort_values('Rank_ActiveAcum', ascending = False)[['Country', 'ActiveAcum']].reset_index(drop = True).head(10)

          Country  ActiveAcum
0   United States    648088.0
1           Italy    108257.0
2  United Kingdom    104641.0
3           Spain    100864.0
4          France     97170.0
5          Turkey     72313.0
6         Germany     52598.0
7          Russia     39201.0
8     Netherlands     28819.0
9         Belgium     24056.0

Which countries had the most active cases on the last day?

In [51]:
last_day_data.sort_values('Rank_Active', ascending = False)[['Country', 'Active']].reset_index(drop = True).head(10)

          Country   Active
0   United States  19397.0
1          Russia   5778.0
2  United Kingdom   5239.0
3           Spain   3978.0
4          France   3953.0
5          Turkey   2327.0
6           India   1464.0
7            Peru   1029.0
8    Saudi Arabia   1014.0
9     Netherlands    983.0

Which countries have the most active cases per million inhabitants?

In [52]:
last_day_data.sort_values('Rank_ConfirmedAcum_Millon', ascending = False)[['Country', 'ConfirmedAcum_Millon']].reset_index(drop = True).head(20)

           Country  ConfirmedAcum_Millon
0       San Marino          13586.395921
1         Holy See           9987.515605
2          Andorra           9227.981622
3       Luxembourg           5671.125822
4          Iceland           5189.850048
5            Spain           4249.276940
6          Belgium           3321.592083
7      Switzerland           3205.223752
8          Ireland           3088.631221
9            Italy           2960.082615
10          Monaco           2395.392692
11          France           2360.789203
12   United States           2293.292811
13   Liechtenstein           2124.422996
14        Portugal           1981.619756
15     Netherlands           1916.442679
16           Qatar           1890.975279
17  United Kingdom           1784.933276
18         Germany           1732.838018
19         Austria           1637.613616

## Saving the clean dataset

Finally I will create an Excel file with the information per country once it is clean and in perfect condition to apply some machine learning algorithms ...

In [0]:
data_by_country.to_excel("All_data.xlsx", index = False)

## Convert to PDF

In [54]:
!apt-get install texlive texlive-xetex texlive-latex-extra pandoc
!pip install pypandoc

Reading package lists... Done
Building dependency tree
Reading state information... Done
pandoc is already the newest version (1.19.2.4~dfsg-1build4).
pandoc set to manually installed.
The following additional packages will be installed:
  fonts-droid-fallback fonts-lato fonts-lmodern fonts-noto-mono fonts-texgyre
  javascript-common libcupsfilters1 libcupsimage2 libgs9 libgs9-common
  libijs-0.35 libjbig2dec0 libjs-jquery libkpathsea6 libpotrace0 libptexenc1
  libruby2.5 libsynctex1 libtexlua52 libtexluajit2 libzzip-0-13 lmodern
  poppler-data preview-latex-style rake ruby ruby-did-you-mean ruby-minitest
  ruby-net-telnet ruby-power-assert ruby-test-unit ruby2.5
  rubygems-integration t1utils tex-common tex-gyre texlive-base
  texlive-binaries texlive-fonts-recommended texlive-latex-base
  texlive-latex-recommended texlive-pictures texlive-plain-generic tipa
Suggested packages:
  fonts-noto apache2 | lighttpd | httpd poppler-utils ghostscript
  fonts-japanese-mincho | fonts-ipafont-mincho fonts-japanese-gothic
  | fonts-ipafont-gothic fonts-arphic-ukai fonts-arphic-uming fonts-nanum ri
  ruby-dev bundler debhelper gv | postscript-viewer perl-tk xpdf-reader
  | pdf-viewer texlive-fonts-recommended-doc texlive-latex-base-doc
  python-pygments icc-profiles libfile-which-perl
  libspreadsheet-parseexcel-perl texlive-latex-extra-doc
  texlive-latex-recommended-doc texlive-pstricks dot2tex prerex ruby-tcltk
  | libtcltk-ruby texlive-pictures-doc vprerex
The following NEW packages will be installed:
  fonts-droid-fallback fonts-lato fonts-lmodern fonts-noto-mono fonts-texgyre
  javascript-common libcupsfilters1 libcupsimage2 libgs9 libgs9-common
  libijs-0.35 libjbig2dec0 libjs-jquery libkpathsea6 libpotrace0 libptexenc1
  libruby2.5 libsynctex1 libtexlua52 libtexluajit2 libzzip-0-13 lmodern
  poppler-data preview-latex-style rake ruby ruby-did-you-mean ruby-minitest
  ruby-net-telnet ruby-power-assert ruby-test-unit ruby2.5
  rubygems-integration t1utils tex-common tex-gyre texlive texlive-base
  texlive-binaries texlive-fonts-recommended texlive-latex-base
  texlive-latex-extra texlive-latex-recommended texlive-pictures
  texlive-plain-generic texlive-xetex tipa
0 upgraded, 47 newly installed, 0 to remove and 25 not upgraded.
Need to get 146 MB of archives.
After this operation, 460 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-lato all 2.0-2 [2,698 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 tex-common all 6.09 [33.0 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-lmodern all 2.004.5-3 [4,551 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-texgyre all 20160520-1 [8,761 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 javascript-common all 11 [6,066 B]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.7 [18.6 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.12 [5,092 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.12 [2,264 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjs-jquery all 3.2.1-1 [152 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libkpathsea6 amd64 2017.20170613.44572-8ubuntu0.1 [54.9 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic/main amd64 libpotrace0 amd64 1.14-2 [17.4 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libptexenc1 amd64 2017.20170613.44572-8ubuntu0.1 [34.5 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic/main amd64 rubygems-integration all 1.11 [4,994 B]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ruby2.5 amd64 2.5.1-1ubuntu1.6 [48.6 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby amd64 1:2.5.1 [5,712 B]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 rake all 12.3.1-1ubuntu0.1 [44.9 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-did-you-mean all 1.2.0-2 [9,700 B]
Get:24 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-minitest all 5.10.3-1 [38.6 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-net-telnet all 0.1.1-2 [12.6 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-power-assert all 0.3.0-1 [7,952 B]
Get:27 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-test-unit all 3.2.5-1 [61.1 kB]
Get:28 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libruby2.5 amd64 2.5.1-1ubuntu1.6 [3,069 kB]
Get:29 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libsynctex1 amd64 2017.20170613.44572-8ubuntu0.1 [41.4 kB]
Get:30 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libtexlua52 amd64 2017.20170613.44572-8ubuntu0.1 [91.2 kB]
Get:31 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libtexluajit2 amd64 2017.20170613.44572-8ubuntu0.1 [230 kB]
Get:32 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libzzip-0-13 amd64 0.13.62-3.1ubuntu0.18.04.1 [26.0 kB]
Get:33 http://archive.ubuntu.com/ubuntu bionic/main amd64 lmodern all 2.004.5-3 [9,631 kB]
Get:34 http://archive.ubuntu.com/ubuntu bionic/main amd64 preview-latex-style all 11.91-1ubuntu1 [185 kB]
Get:35 http://archive.ubuntu.com/ubuntu bionic/main amd64 t1utils amd64 1.41-2 [56.0 kB]
Get:36 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tex-gyre all 20160520-1 [4,998 kB]
Get:37 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 texlive-binaries amd64 2017.20170613.44572-8ubuntu0.1 [8,179 kB]
Get:38 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-base all 2017.20180305-1 [18.7 MB]
Get:39 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-fonts-recommended all 2017.20180305-1 [5,262 kB]
Get:40 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-latex-base all 2017.20180305-1 [951 kB]
Get:41 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-latex-recommended all 2017.20180305-1 [14.9 MB]
Get:42 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive all 2017.20180305-1 [14.4 kB]
Get:43 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-pictures all 2017.20180305-1 [4,026 kB]
Get:44 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-latex-extra all 2017.20180305-2 [10.6 MB]
Get:45 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-plain-generic all 2017.20180305-2 [23.6 MB]
Get:46 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tipa all 2:1.3-20 [2,978 kB]
Get:47 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-xetex all 2017.20180305-1 [10.7 MB]
Fetched 146 MB in 5s (27.3 MB/s)
Extracting templates from packages: 100%
Preconfiguring packages ...
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 144568 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package fonts-lato.
Preparing to unpack .../01-fonts-lato_2.0-2_all.deb ...
Unpacking fonts-lato (2.0-2) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../02-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package tex-common.
Preparing to unpack .../03-tex-common_6.09_all.deb ...
Unpacking tex-common (6.09) ...
Selecting previously unselected package fonts-lmodern.
Preparing to unpack .../04-fonts-lmodern_2.004.5-3_all.deb ...
Unpacking fonts-lmodern (2.004.5-3) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../05-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package fonts-texgyre.
Preparing to unpack .../06-fonts-texgyre_20160520-1_all.deb ...
Unpacking fonts-texgyre (20160520-1) ...
Selecting previously unselected package javascript-common.
Preparing to unpack .../07-javascript-common_11_all.deb ...
Unpacking javascript-common (11) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../08-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../09-libcupsimage2_2.2.7-1ubuntu2.7_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.7) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../10-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../11-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../12-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.12_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.12) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../13-libgs9_9.26~dfsg+0-0ubuntu0.18.04.12_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.12) ...
Selecting previously unselected package libjs-jquery.
Preparing to unpack .../14-libjs-jquery_3.2.1-1_all.deb ...
Unpacking libjs-jquery (3.2.1-1) ...
Selecting previously unselected package libkpathsea6:amd64.
Preparing to unpack .../15-libkpathsea6_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libkpathsea6:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libpotrace0.
Preparing to unpack .../16-libpotrace0_1.14-2_amd64.deb ...
Unpacking libpotrace0 (1.14-2) ...
Selecting previously unselected package libptexenc1:amd64.
Preparing to unpack .../17-libptexenc1_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libptexenc1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package rubygems-integration.
Preparing to unpack .../18-rubygems-integration_1.11_all.deb ...
Unpacking rubygems-integration (1.11) ...
Selecting previously unselected package ruby2.5.
Preparing to unpack .../19-ruby2.5_2.5.1-1ubuntu1.6_amd64.deb ...
Unpacking ruby2.5 (2.5.1-1ubuntu1.6) ...
Selecting previously unselected package ruby.
Preparing to unpack .../20-ruby_1%3a2.5.1_amd64.deb ...
Unpacking ruby (1:2.5.1) ...
Selecting previously unselected package rake.
Preparing to unpack .../21-rake_12.3.1-1ubuntu0.1_all.deb ...
Unpacking rake (12.3.1-1ubuntu0.1) ...
Selecting previously unselected package ruby-did-you-mean.
Preparing to unpack .../22-ruby-did-you-mean_1.2.0-2_all.deb ...
Unpacking ruby-did-you-mean (1.2.0-2) ...
Selecting previously unselected package ruby-minitest.
Preparing to unpack .../23-ruby-minitest_5.10.3-1_all.deb ...
Unpacking ruby-minitest (5.10.3-1) ...
Selecting previously unselected package ruby-net-telnet.
Preparing to unpack .../24-ruby-net-telnet_0.1.1-2_all.deb ...
Unpacking ruby-net-telnet (0.1.1-2) ...
Selecting previously unselected package ruby-power-assert.
Preparing to unpack .../25-ruby-power-assert_0.3.0-1_all.deb ...
Unpacking ruby-power-assert (0.3.0-1) ...
Selecting previously unselected package ruby-test-unit.
Preparing to unpack .../26-ruby-test-unit_3.2.5-1_all.deb ...
Unpacking ruby-test-unit (3.2.5-1) ...
Selecting previously unselected package libruby2.5:amd64.
Preparing to unpack .../27-libruby2.5_2.5.1-1ubuntu1.6_amd64.deb ...
Unpacking libruby2.5:amd64 (2.5.1-1ubuntu1.6) ...
Selecting previously unselected package libsynctex1:amd64.
Preparing to unpack .../28-libsynctex1_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libsynctex1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libtexlua52:amd64.
Preparing to unpack .../29-libtexlua52_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libtexlua52:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libtexluajit2:amd64.
Preparing to unpack .../30-libtexluajit2_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libtexluajit2:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libzzip-0-13:amd64.
Preparing to unpack .../31-libzzip-0-13_0.13.62-3.1ubuntu0.18.04.1_amd64.deb ...
Unpacking libzzip-0-13:amd64 (0.13.62-3.1ubuntu0.18.04.1) ...
Selecting previously unselected package lmodern.
Preparing to unpack .../32-lmodern_2.004.5-3_all.deb ...
Unpacking lmodern (2.004.5-3) ...
Selecting previously unselected package preview-latex-style.
Preparing to unpack .../33-preview-latex-style_11.91-1ubuntu1_all.deb ...
Unpacking preview-latex-style (11.91-1ubuntu1) ...
Selecting previously unselected package t1utils.
Preparing to unpack .../34-t1utils_1.41-2_amd64.deb ...
Unpacking t1utils (1.41-2) ...
Selecting previously unselected package tex-gyre.
Preparing to unpack .../35-tex-gyre_20160520-1_all.deb ...
Unpacking tex-gyre (20160520-1) ...
Selecting previously unselected package texlive-binaries.
Preparing to unpack .../36-texlive-binaries_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking texlive-binaries (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package texlive-base.
Preparing to unpack .../37-texlive-base_2017.20180305-1_all.deb ...
Unpacking texlive-base (2017.20180305-1) ...
Selecting previously unselected package texlive-fonts-recommended.
Preparing to unpack .../38-texlive-fonts-recommended_2017.20180305-1_all.deb ...
Unpacking texlive-fonts-recommended (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-base.
Preparing to unpack .../39-texlive-latex-base_2017.20180305-1_all.deb ...
Unpacking texlive-latex-base (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-recommended.
Preparing to unpack .../40-texlive-latex-recommended_2017.20180305-1_all.deb ...
Unpacking texlive-latex-recommended (2017.20180305-1) ...
Selecting previously unselected package texlive.
Preparing to unpack .../41-texlive_2017.20180305-1_all.deb ...
Unpacking texlive (2017.20180305-1) ...
Selecting previously unselected package texlive-pictures.
Preparing to unpack .../42-texlive-pictures_2017.20180305-1_all.deb ...
Unpacking texlive-pictures (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-extra.
Preparing to unpack .../43-texlive-latex-extra_2017.20180305-2_all.deb ...
Unpacking texlive-latex-extra (2017.20180305-2) ...
Selecting previously unselected package texlive-plain-generic.
Preparing to unpack .../44-texlive-plain-generic_2017.20180305-2_all.deb ...
Unpacking texlive-plain-generic (2017.20180305-2) ...
Selecting previously unselected package tipa.
Preparing to unpack .../45-tipa_2%3a1.3-20_all.deb ...
Unpacking tipa (2:1.3-20) ...
Selecting previously unselected package texlive-xetex.
Preparing to unpack .../46-texlive-xetex_2017.20180305-1_all.deb ...
Unpacking texlive-xetex (2017.20180305-1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.12) ...
Setting up libkpathsea6:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up libjs-jquery (3.2.1-1) ...
Setting up libtexlua52:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up libsynctex1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up libptexenc1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up tex-common (6.09) ...
update-language: texlive-base not installed and configured, doing nothing!
Setting up poppler-data (0.4.8-2) ...
Setting up tex-gyre (20160520-1) ...
Setting up preview-latex-style (11.91-1ubuntu1) ...
Setting up fonts-texgyre (20160520-1) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up fonts-lato (2.0-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.7) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up ruby-did-you-mean (1.2.0-2) ...
Setting up t1utils (1.41-2) ...
Setting up ruby-net-telnet (0.1.1-2) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up rubygems-integration (1.11) ...
Setting up libpotrace0 (1.14-2) ...
Setting up javascript-common (11) ...
Setting up ruby-minitest (5.10.3-1) ...
Setting up libzzip-0-13:amd64 (0.13.62-3.1ubuntu0.18.04.1) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.12) ...
Setting up libtexluajit2:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up fonts-lmodern (2.004.5-3) ...
Setting up ruby-power-assert (0.3.0-1) ...
Setting up texlive-binaries (2017.20170613.44572-8ubuntu0.1) ...
update-alternatives: using /usr/bin/xdvi-xaw to provide /usr/bin/xdvi.bin (xdvi.bin) in auto mode
update-alternatives: using /usr/bin/bibtex.original to provide /usr/bin/bibtex (bibtex) in auto mode
Setting up texlive-base (2017.20180305-1) ...
mktexlsr: Updating /var/lib/texmf/ls-R-TEXLIVEDIST...
mktexlsr: Updating /var/lib/texmf/ls-R-TEXMFMAIN...
mktexlsr: Updating /var/lib/texmf/ls-R...
mktexlsr: Done.
tl-paper: setting paper size for dvips to a4: /var/lib/texmf/dvips/config/config-paper.ps
tl-paper: setting paper size for dvipdfmx to a4: /var/lib/texmf/dvipdfmx/dvipdfmx-paper.cfg
tl-paper: setting paper size for xdvi to a4: /var/lib/texmf/xdvi/XDvi-paper
tl-paper: setting paper size for pdftex to a4: /var/lib/texmf/tex/generic/config/pdftexconfig.tex
Setting up texlive-fonts-recommended (2017.20180305-1) ...
Setting up texlive-plain-generic (2017.20180305-2) ...
Setting up texlive-latex-base (2017.20180305-1) ...
Setting up lmodern (2.004.5-3) ...
Setting up texlive-latex-recommended (2017.20180305-1) ...
Setting up texlive-pictures (2017.20180305-1) ...
Setting up tipa (2:1.3-20) ...
Regenerating '/var/lib/texmf/fmtutil.cnf-DEBIAN'... done.
Regenerating '/var/lib/texmf/fmtutil.cnf-TEXLIVEDIST'... done.
update-fmtutil has updated the following file(s):
	/var/lib/texmf/fmtutil.cnf-DEBIAN
	/var/lib/texmf/fmtutil.cnf-TEXLIVEDIST
If you want to activate the changes in the above file(s),
you should run fmtutil-sys or fmtutil.
Setting up texlive (2017.20180305-1) ...
Setting up texlive-latex-extra (2017.20180305-2) ...
Setting up texlive-xetex (2017.20180305-1) ...
Setting up ruby2.5 (2.5.1-1ubuntu1.6) ...
Setting up ruby (1:2.5.1) ...
Setting up ruby-test-unit (3.2.5-1) ...
Setting up rake (12.3.1-1ubuntu0.1) ...
Setting up libruby2.5:amd64 (2.5.1-1ubuntu1.6) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for tex-common (6.09) ...
Running updmap-sys. This may take some time... done.
Running mktexlsr /var/lib/texmf ... done.
Building format(s) --all.
	This may take some time... done.
Collecting pypandoc
  Downloading https://files.pythonhosted.org/packages/d6/b7/5050dc1769c8a93d3ec7c4bd55be161991c94b8b235f88bf7c764449e708/pypandoc-1.5.tar.gz
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pypandoc) (46.1.3)
Requirement already satisfied: pip>=8.1.0 in /usr/local/lib/python3.6/dist-packages (from pypandoc) (19.3.1)
Requirement already satisfied: wheel>=0.25.0 in /usr/local/lib/python3.6/dist-packages (from pypandoc) (0.34.2)

In [55]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [68]:
ls -la "./drive/My Drive/Colab Notebooks/"

total 1442
-rw------- 1 root root  80931 Apr  8 05:33  Covib19.ipynb
-rw------- 1 root root 133795 Apr 20 07:14  Covid-19.ipynb
-rw------- 1 root root  68277 Apr 14 04:04 'Module 1.1 - Vector and Matrices.ipynb'
-rw------- 1 root root 251701 Apr 14 04:05 'Module 1.2 - Main Probability Distributions.ipynb'
-rw------- 1 root root  56997 Apr 18 04:06  NumPy.ipynb
-rw------- 1 root root 555477 Apr 19 05:56  Pandas.ipynb
-rw------- 1 root root  73495 Apr 13 05:17 'Pivot Table.ipynb'
-rw------- 1 root root 252815 Apr 19 05:01 'Python for Data Analysis - Exercises.ipynb'
-rw------- 1 root root    333 Apr 13 07:18  Untitled0.ipynb

In [0]:
!cp "./drive/My Drive/Colab Notebooks/Covid-19.ipynb" .

In [72]:
!jupyter nbconvert --to PDF "Covid-19.ipynb"

[NbConvertApp] Converting notebook Covid-19.ipynb to PDF
[NbConvertApp] Writing 105522 bytes to ./notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: [u'xelatex', u'./notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: [u'bibtex', u'./notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 74970 bytes to Covid-19.pdf