# Pandas and Covid-19

This notebook is an example of data analysis and manipulation with Pandas.

Enjoy it!

In [0]:
import numpy as np
import pandas as pd

## The Data

To get some data I and going to download it from Data Repository by Johns Hopkins CSSE

https://github.com/CSSEGISandData/COVID-19

I first remove the folder where I am goint to store the data so I can re-execute this sentences without any problems ...

In [0]:
!rm -rf ./COVID-19

The dataset is avaible in GitHub so I use the `git` command to get it

In [3]:
!git clone https://github.com/CSSEGISandData/COVID-19.git

Cloning into 'COVID-19'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 20973 (delta 10), reused 16 (delta 9), pack-reused 20952
Receiving objects: 100% (20973/20973), 87.54 MiB | 32.88 MiB/s, done.
Resolving deltas: 100% (11130/11130), done.

## Exporing the data

In [4]:
!ls -lt ./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports | head

total 8920
-rw-r--r-- 1 root root 315929 Apr 19 05:59 04-18-2020.csv
-rw-r--r-- 1 root root      0 Apr 19 05:59 README.md
-rw-r--r-- 1 root root 314848 Apr 19 05:59 04-17-2020.csv
-rw-r--r-- 1 root root 314226 Apr 19 05:59 04-16-2020.csv
-rw-r--r-- 1 root root 309742 Apr 19 05:59 04-13-2020.csv
-rw-r--r-- 1 root root 311068 Apr 19 05:59 04-14-2020.csv
-rw-r--r-- 1 root root 312551 Apr 19 05:59 04-15-2020.csv
-rw-r--r-- 1 root root 305548 Apr 19 05:59 04-12-2020.csv
-rw-r--r-- 1 root root 303921 Apr 19 05:59 04-11-2020.csv

Yes!!!  
We have data files ...

Perfect. Let's explore the first dataset generated ...

In [0]:
first = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv")

In [0]:
first.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN

And one of the last ones ...

In [0]:
last = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-18-2020.csv")

In [7]:
last.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...     15  Abbeville, South Carolina, US
1  22001.0     Acadia  ...    103          Acadia, Louisiana, US
2  51001.0   Accomack  ...     33         Accomack, Virginia, US
3  16001.0        Ada  ...    584                 Ada, Idaho, US
4  19001.0      Adair  ...      1                Adair, Iowa, US

[5 rows x 12 columns]

Can I concatenate both datasets?

In [8]:
pd.concat((first, last), axis = 0)

     Province/State  Country/Region  ... Active        Combined_Key
0             Anhui  Mainland China  ...    NaN                 NaN
1           Beijing  Mainland China  ...    NaN                 NaN
2         Chongqing  Mainland China  ...    NaN                 NaN
3            Fujian  Mainland China  ...    NaN                 NaN
4             Gansu  Mainland China  ...    NaN                 NaN
...             ...             ...  ...    ...                 ...
3048            NaN             NaN  ...  347.0  West Bank and Gaza
3049            NaN             NaN  ...    6.0      Western Sahara
3050            NaN             NaN  ...    1.0               Yemen
3051            NaN             NaN  ...   22.0              Zambia
3052            NaN             NaN  ...   20.0            Zimbabwe

[3091 rows x 15 columns]

Ups!!! The column names don't match :-(

#Loading the data into Pandas  and cleaning it

In [0]:
import glob
import os

files = glob.glob("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv")
files.sort(key=os.path.getmtime)

We are going to:
- Create a blank Dataset to store all the data
- Load every dataset unifying the column names so we can concatenate it without any problem.
- Remove extra blank spaces from the country field
- Enrich the information with the date of the data in the correct type

In [0]:
data = pd.DataFrame()
for file in files:  
  df = pd.read_csv(file).rename(columns = {'Province/State' : 'State', 
                        "Country/Region" : 'Country',
                        'Province_State' : 'State', 
                        "Country_Region" : 'Country',
                        'Last Update' : 'Last_Update',
                        'Confirmed' : 'ConfirmedAcum',
                        'Deaths' : 'DeathsAcum',
                        'Recovered' : 'RecoveredAcum'})
  df = df.assign(Date = pd.to_datetime(file[-14:-4], format = '%m-%d-%Y'),
                 Country = df.Country.str.strip())
  data = pd.concat((data, df), axis = 0)

I noticed that the country names were a little messy.   
Let's fix it ...

In [0]:
data['Country'] = data.Country.replace({'Bahamas, The' : 'Bahamas',
                         'Congo (Brazzaville)' : 'Congo',
                         'Congo (Kinshasa)' : 'Congo',
                         "Cote d'Ivoire" : "Cote d'Ivoire",
                         "Curacao" : "Curaçao",
                         'Czech Republic' : 'Czech Republic (Czechia)',
                         'Czechia' : 'Czech Republic (Czechia)',
                         'Faroe Islands' : 'Faeroe Islands',
                         'Macau' : 'Macao',
                         'Mainland China' : 'China',
                         'Palestine' : 'State of Palestine',
                         'Reunion' : 'Réunion',
                         'Saint Kitts and Nevis' : 'Saint Kitts & Nevis',
                         'Sao Tome and Principe' : 'Sao Tome & Principe',
                         'US' : 'United States',
                         'Gambia, The' : 'Gambia',
                         'Hong Kong SAR' : 'Hong Kong',
                         'Korea, South' : 'South Korea',
                         'Macao SAR' : 'Macao',
                         'Taiwan*' : 'Taiwan',
                         'Viet Nam' : 'Vietnam',
                         'West Bank and Gaza' : 'State of Palestine'
                         })

I'm going to fill in the null values ​​of the 'State' and 'Admin2' fields so that I can later group the data correctly

In [0]:
data = data.fillna({'State' : 'NA', 'Admin2' : 'NA'})

Finally I am going to be left alone with the columns that interest me

In [0]:
data = data[['Date', 'Country', 'State', 'Admin2', 'ConfirmedAcum', 'DeathsAcum', 'RecoveredAcum']]

Let's verify the structure of the dateset ...

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92516 entries, 0 to 3052
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           92516 non-null  datetime64[ns]
 1   Country        92516 non-null  object
 2   State          92516 non-null  object
 3   Admin2         92516 non-null  object
 4   ConfirmedAcum  92497 non-null  float64
 5   DeathsAcum     92075 non-null  float64
 6   RecoveredAcum  92128 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 5.6+ MB

Wait a set, I think that can be interesting have a column the the active cases. Let's create it ...

In [0]:
data['ActiveAcum'] = data.ConfirmedAcum  - data.DeathsAcum - data.RecoveredAcum

In [16]:
data.query("Country == 'Spain'").sort_values('Date', ascending = False).head()

           Date Country State  ... DeathsAcum  RecoveredAcum  ActiveAcum
3025 2020-04-18   Spain    NA  ...    20043.0        74797.0     96886.0
3017 2020-04-17   Spain    NA  ...    20002.0        74797.0     96040.0
3013 2020-04-16   Spain    NA  ...    19315.0        74797.0     90836.0
2998 2020-04-15   Spain    NA  ...    18708.0        70853.0     88083.0
2985 2020-04-14   Spain    NA  ...    18056.0        67504.0     86981.0

[5 rows x 8 columns]

Perfect :-)

Now, I am going to group and summarize the data because I want to be sure that there is only one row per Date, Country, State and Admin2

In [0]:
data = data.groupby(["Date", "Country", "State", "Admin2"]).agg("sum").reset_index()

In [18]:
data.head()

        Date Country      State  ... DeathsAcum  RecoveredAcum  ActiveAcum
0 2020-01-22   China      Anhui  ...        0.0            0.0         0.0
1 2020-01-22   China    Beijing  ...        0.0            0.0         0.0
2 2020-01-22   China  Chongqing  ...        0.0            0.0         0.0
3 2020-01-22   China     Fujian  ...        0.0            0.0         0.0
4 2020-01-22   China      Gansu  ...        0.0            0.0         0.0

[5 rows x 8 columns]

# Daily Cases
I am going to enrich the data by creating new columns with the daily cases.  

First I create new columns with the cases from the previous day

In [0]:
data = data.sort_values(['State', 'Country', 'Date']).\
            assign(ConfirmedPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ConfirmedAcum"],
                   DeathsPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["DeathsAcum"],
                   RecoveredPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["RecoveredAcum"],
                   ActivePrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ActiveAcum"],
            ).\
            fillna({ 'ConfirmedPrevious' : 0, 'DeathsPrevious' : 0, 'RecoveredPrevious' : 0 })

In [20]:
data.head()

           Date Country  ... RecoveredPrevious ActivePrevious
2599 2020-02-28  Canada  ...               0.0            NaN
2713 2020-02-29  Canada  ...               0.0            1.0
2834 2020-03-01  Canada  ...               0.0            1.0
2961 2020-03-02  Canada  ...               0.0            1.0
3103 2020-03-03  Canada  ...               0.0            1.0

[5 rows x 12 columns]

After that I am going to assign the new fields subtracting the previous acum cases to the actual acum cases

In [0]:
data = data.assign(Confirmed = data.ConfirmedAcum -  data.ConfirmedPrevious,
            Deaths = data.DeathsAcum - data.DeathsPrevious,
            Recovered = data.RecoveredAcum - data.RecoveredPrevious,
            Active = data.ActiveAcum - data.ActivePrevious
            )

I no longer need the fields I used to make the calculation so I can drop them

In [0]:
data = data.drop(['ConfirmedPrevious', 'DeathsPrevious', 'RecoveredPrevious', 'ActivePrevious'], axis = 1)

Does the data look good?

In [23]:
data.query("Country == 'Spain'")

            Date Country State Admin2  ...  Confirmed  Deaths  Recovered  Active
545   2020-02-01   Spain    NA     NA  ...        1.0     0.0        0.0     NaN
612   2020-02-02   Spain    NA     NA  ...        0.0     0.0        0.0     0.0
679   2020-02-03   Spain    NA     NA  ...        0.0     0.0        0.0     0.0
749   2020-02-04   Spain    NA     NA  ...        0.0     0.0        0.0     0.0
819   2020-02-05   Spain    NA     NA  ...        0.0     0.0        0.0     0.0
...          ...     ...   ...    ...  ...        ...     ...        ...     ...
77526 2020-04-14   Spain    NA     NA  ...     2442.0   300.0     2777.0  -635.0
80538 2020-04-15   Spain    NA     NA  ...     5103.0   652.0     3349.0  1102.0
83563 2020-04-16   Spain    NA     NA  ...     7304.0   607.0     3944.0  2753.0
86603 2020-04-17   Spain    NA     NA  ...     5891.0   687.0        0.0  5204.0
89647 2020-04-18   Spain    NA     NA  ...      887.0    41.0        0.0   846.0

[78 rows x 12 columns]

## Data By Country

So far, we have data by 3 geographical levels: Country, State and a lower level called Admin2

The problem is that not all countries have this level of information, so I will create a new dataset only with the country level data

In [24]:
data_by_country = data.groupby(["Date", "Country"]).agg("sum").reset_index()
data_by_country = data_by_country.sort_values(['Country', 'Date'])
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8744 entries, 848 to 3045
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8744 non-null   datetime64[ns]
 1   Country        8744 non-null   object
 2   ConfirmedAcum  8744 non-null   float64
 3   DeathsAcum     8744 non-null   float64
 4   RecoveredAcum  8744 non-null   float64
 5   ActiveAcum     8744 non-null   float64
 6   Confirmed      8744 non-null   float64
 7   Deaths         8744 non-null   float64
 8   Recovered      8744 non-null   float64
 9   Active         8744 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 751.4+ KB

In [25]:
data_by_country.head()

           Date      Country  ConfirmedAcum  ...  Deaths  Recovered  Active
848  2020-02-24  Afghanistan            1.0  ...     0.0        0.0     0.0
886  2020-02-25  Afghanistan            1.0  ...     0.0        0.0     0.0
928  2020-02-26  Afghanistan            1.0  ...     0.0        0.0     0.0
977  2020-02-27  Afghanistan            1.0  ...     0.0        0.0     0.0
1030 2020-02-28  Afghanistan            1.0  ...     0.0        0.0     0.0

[5 rows x 10 columns]

In [26]:
data_by_country[data_by_country.Country == 'United States']

           Date        Country  ConfirmedAcum  ...  Deaths  Recovered   Active
7    2020-01-22  United States            1.0  ...     0.0        0.0      0.0
22   2020-01-23  United States            1.0  ...     0.0        0.0      0.0
33   2020-01-24  United States            2.0  ...     0.0        0.0      0.0
47   2020-01-25  United States            2.0  ...     0.0        0.0      0.0
62   2020-01-26  United States            5.0  ...     0.0        0.0      0.0
...         ...            ...            ...  ...     ...        ...      ...
7999 2020-04-14  United States       607670.0  ...  2303.0     4281.0  19813.0
8183 2020-04-15  United States       636350.0  ...  2494.0     4333.0  21844.0
8367 2020-04-16  United States       667801.0  ...  4591.0     2607.0  24251.0
8551 2020-04-17  United States       699706.0  ...  3857.0     3842.0  24277.0
8735 2020-04-18  United States       732197.0  ...  1891.0     6295.0  24305.0

[88 rows x 10 columns]

## Cases per million inhabitants

We are going to enrich the information with the number of cases per million inhabitants, so we need population data by country.

A small internet search leads me to a page that has population data for 2020:

https://www.worldometers.info/world-population/population-by-country/

It seems that this information is protected to be downloaded automatically so I have no choice but to do it manually and upload the data to a GitHub Repository:

https://github.com/dvillaj/world-population/

I load the data to the Pandas, clean it up and just maintain the field of the population

In [0]:
population = pd.read_excel("https://github.com/dvillaj/world-population/blob/master/data/world-popultation-2020.xlsx?raw=true", sheet_name="Data")

In [28]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            235 non-null    object
 1   Population (2020)  235 non-null    int64
 2   Yearly Change      235 non-null    float64
 3   Net Change         235 non-null    int64
 4   Density (P/Km²)    235 non-null    float64
 5   Land Area (Km²)    235 non-null    int64
 6   Migrants (net)     201 non-null    float64
 7   Fertility Rate     201 non-null    float64
 8   Average Age        201 non-null    float64
 9   Urban Pop %        222 non-null    float64
 10  World Share        235 non-null    float64
dtypes: float64(7), int64(3), object(1)
memory usage: 20.3+ KB

In [0]:
population = population.rename(columns = {
    'Population (2020)' : 'Population',
    'Yearly Change' : 'Yearly_Change',
    'Net Change' : 'Net_Change',
    'Density (P/Km²)' : 'Density',
    'Land Area (Km²)' : 'Land_Area',
    'Migrants (net)' : 'igrants',
    'Fertility Rate' : 'Fertility',
    'Average Age' : 'Mean_Age',
    'Urban Pop %' : 'Urban_Pop',
    'World Share' : 'World_Share'
})

In [0]:
population = population[['Country', 'Population']]

In [43]:
population.head()

          Country  Population
0     Afghanistan    38928346
1         Albania     2877797
2         Algeria    43851044
3  American Samoa       55191
4         Andorra       77265

Now I join the population Dataset with the country data to have the population in this dataset

In [0]:
data_by_country = data_by_country.merge(population, how = 'left', on = 'Country')

In [45]:
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8744 entries, 0 to 8743
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8744 non-null   datetime64[ns]
 1   Country            8744 non-null   object
 2   ConfirmedAcum      8744 non-null   float64
 3   DeathsAcum         8744 non-null   float64
 4   RecoveredAcum      8744 non-null   float64
 5   ActiveAcum         8744 non-null   float64
 6   Confirmed          8744 non-null   float64
 7   Deaths             8744 non-null   float64
 8   Recovered          8744 non-null   float64
 9   Active             8744 non-null   float64
 10  Population (2020)  8427 non-null   float64
 11  Yearly Change      8427 non-null   float64
 12  Net Change         8427 non-null   float64
 13  Density (P/Km²)    8427 non-null   float64
 14  Land Area (Km²)    8427 non-null   float64
 15  Migrants (net)     8107 non-null   float64
 16  Fertility Rate     8107 non-null   float64
 17  Average Age        8107 non-null   float64
 18  Urban Pop %        8039 non-null   float64
 19  World Share        8427 non-null   float64
 20  Population         8427 non-null   float64
dtypes: datetime64[ns](1), float64(19), object(1)
memory usage: 1.5+ MB

In [46]:
data_by_country.head()

        Date      Country  ConfirmedAcum  ...  Urban Pop %  World Share  Population
0 2020-02-24  Afghanistan            1.0  ...         25.0          0.5  38928346.0
1 2020-02-25  Afghanistan            1.0  ...         25.0          0.5  38928346.0
2 2020-02-26  Afghanistan            1.0  ...         25.0          0.5  38928346.0
3 2020-02-27  Afghanistan            1.0  ...         25.0          0.5  38928346.0
4 2020-02-28  Afghanistan            1.0  ...         25.0          0.5  38928346.0

[5 rows x 21 columns]

And finally I calculate the number of cases per million inhabitants

In [47]:
data_by_country = data_by_country.assign(ConfirmedAcum_Millon = data_by_country.ConfirmedAcum / data_by_country.Population * 1000000)
data_by_country.head()

        Date      Country  ...  Population  ConfirmedAcum_Millon
0 2020-02-24  Afghanistan  ...  38928346.0              0.025688
1 2020-02-25  Afghanistan  ...  38928346.0              0.025688
2 2020-02-26  Afghanistan  ...  38928346.0              0.025688
3 2020-02-27  Afghanistan  ...  38928346.0              0.025688
4 2020-02-28  Afghanistan  ...  38928346.0              0.025688

[5 rows x 22 columns]

## Rankins

I'm going to create a dataset of last day's cases. 

The goal is to get a set of rankings that tell me the countries with the most cases

So I need a variable that contains the last date of the dataset

In [48]:
last_day = list(data_by_country.Date.sort_values(ascending = False))[0]
last_day

Timestamp('2020-04-18 00:00:00')

Now I can filter the data by this date

In [49]:
last_day_data = data_by_country[data_by_country.Date == last_day]
last_day_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 54 to 8736
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  184 non-null    datetime64[ns]
 1   Country               184 non-null    object
 2   ConfirmedAcum         184 non-null    float64
 3   DeathsAcum            184 non-null    float64
 4   RecoveredAcum         184 non-null    float64
 5   ActiveAcum            184 non-null    float64
 6   Confirmed             184 non-null    float64
 7   Deaths                184 non-null    float64
 8   Recovered             184 non-null    float64
 9   Active                184 non-null    float64
 10  Population (2020)     178 non-null    float64
 11  Yearly Change         178 non-null    float64
 12  Net Change            178 non-null    float64
 13  Density (P/Km²)       178 non-null    float64
 14  Land Area (Km²)       178 non-null    float64
 15  Migrants (net)        171 non-null    float64
 16  Fertility Rate        171 non-null    float64
 17  Average Age           171 non-null    float64
 18  Urban Pop %           173 non-null    float64
 19  World Share           178 non-null    float64
 20  Population            178 non-null    float64
 21  ConfirmedAcum_Millon  178 non-null    float64
dtypes: datetime64[ns](1), float64(20), object(1)
memory usage: 33.1+ KB

In [50]:
last_day_data

           Date         Country  ...  Population  ConfirmedAcum_Millon
54   2020-04-18     Afghanistan  ...  38928346.0             23.967111
95   2020-04-18         Albania  ...   2877797.0            190.423438
149  2020-04-18         Algeria  ...  43851044.0             57.786538
197  2020-04-18         Andorra  ...     77265.0           9111.499385
227  2020-04-18          Angola  ...  32866272.0              0.730232
...         ...             ...  ...         ...                   ...
8651 2020-04-18         Vietnam  ...  97338579.0              2.753276
8665 2020-04-18  Western Sahara  ...    597339.0             10.044548
8674 2020-04-18           Yemen  ...  29825964.0              0.033528
8706 2020-04-18          Zambia  ...  18383955.0              3.100530
8736 2020-04-18        Zimbabwe  ...  14862924.0              1.682038

[184 rows x 22 columns]

Let's assign new columns with the most interesting rankins ...

In [51]:
last_day_data = last_day_data.assign(
    Rank_ConfirmedAcum = last_day_data.ConfirmedAcum.rank(),
    Rank_Confirmed = last_day_data.Confirmed.rank(),
    Rank_ActiveAcum = last_day_data.ActiveAcum.rank(),
    Rank_Active = last_day_data.Active.rank(),
    Rank_ConfirmedAcum_Millon = last_day_data.ConfirmedAcum_Millon.rank()
)
last_day_data

           Date         Country  ...  Rank_Active  Rank_ConfirmedAcum_Millon
54   2020-04-18     Afghanistan  ...        117.0                       56.0
95   2020-04-18         Albania  ...         20.0                      109.0
149  2020-04-18         Algeria  ...        143.5                       79.0
197  2020-04-18         Andorra  ...         24.5                      176.0
227  2020-04-18          Angola  ...        103.0                        4.0
...         ...             ...  ...          ...                        ...
8651 2020-04-18         Vietnam  ...         32.0                       21.0
8665 2020-04-18  Western Sahara  ...         66.0                       37.0
8674 2020-04-18           Yemen  ...         66.0                        1.0
8706 2020-04-18          Zambia  ...         97.0                       23.0
8736 2020-04-18        Zimbabwe  ...         92.0                       14.0

[184 rows x 27 columns]

Which countries have the most confirmed cases?

In [52]:
last_day_data.sort_values('Rank_ConfirmedAcum', ascending = False)[['Country', 'ConfirmedAcum']].reset_index(drop = True).head(10)

          Country  ConfirmedAcum
0   United States       732197.0
1           Spain       191726.0
2           Italy       175925.0
3          France       149149.0
4         Germany       143342.0
5  United Kingdom       115314.0
6           China        83787.0
7          Turkey        82329.0
8            Iran        80868.0
9         Belgium        37183.0

Which countries have more confirmed cases on the last day?

In [53]:
last_day_data.sort_values('Rank_Confirmed', ascending = False)[['Country', 'Confirmed']].reset_index(drop = True).head(10)

          Country  Confirmed
0   United States    32491.0
1  United Kingdom     5545.0
2          Russia     4785.0
3          Turkey     3783.0
4           Italy     3491.0
5          Brazil     2976.0
6         Germany     1945.0
7          Canada     1542.0
8            Iran     1374.0
9           India     1370.0

Which countries have the most active cases?

In [54]:
last_day_data.sort_values('Rank_ActiveAcum', ascending = False)[['Country', 'ActiveAcum']].reset_index(drop = True).head(10)

          Country  ActiveAcum
0   United States    628693.0
1           Italy    107771.0
2  United Kingdom     99402.0
3           Spain     96886.0
4          France     93217.0
5          Turkey     69986.0
6         Germany     53483.0
7          Russia     33423.0
8     Netherlands     27836.0
9         Belgium     23382.0

Which countries had the most active cases on the last day?

In [55]:
last_day_data.sort_values('Rank_Active', ascending = False)[['Country', 'Active']].reset_index(drop = True).head(10)

          Country   Active
0   United States  24305.0
1  United Kingdom   4634.0
2          Russia   4278.0
3          Brazil   2763.0
4          Turkey   1840.0
5          Canada   1078.0
6     Netherlands   1003.0
7           India    913.0
8       Singapore    910.0
9    Saudi Arabia    847.0

Which countries have the most active cases per million inhabitants?

In [56]:
last_day_data.sort_values('Rank_ConfirmedAcum_Millon', ascending = False)[['Country', 'ConfirmedAcum_Millon']].reset_index(drop = True).head(20)

           Country  ConfirmedAcum_Millon
0       San Marino          13409.566473
1         Holy See           9987.515605
2          Andorra           9111.499385
3       Luxembourg           5650.358319
4          Iceland           5157.614955
5            Spain           4100.671807
6          Belgium           3208.301081
7      Switzerland           3166.400566
8          Ireland           2988.788903
9            Italy           2909.687180
10          Monaco           2395.392692
11          France           2284.985099
12   United States           2212.057812
13   Liechtenstein           2071.968107
14        Portugal           1930.524839
15     Netherlands           1853.880204
16           Qatar           1738.253340
17         Germany           1710.852898
18  United Kingdom           1698.641565
19         Austria           1628.953106

## Saving the clean dataset

Finally I will create an Excel file with the information per country once it is clean and in perfect condition to apply some machine learning algorithms ...

In [0]:
data_by_country.to_excel("All_data.xlsx", index = False)