# Pandas and Covid-19

This notebook is an example of data analysis and manipulation with **Pandas** and has beed created in [Google Colab](https://colab.research.google.com)

Enjoy it!

In [2]:
import numpy as np
import pandas as pd

## The Data

To get some data I and going to download it from Data Repository by Johns Hopkins CSSE

https://github.com/CSSEGISandData/COVID-19

I first remove the folder where I am goint to store the data so I can re-execute this sentences without any problems ...

In [3]:
!rm -rf ./COVID-19

The dataset is avaible in GitHub so I use the `git` command to get it

In [4]:
!git clone https://github.com/CSSEGISandData/COVID-19.git

Cloning into 'COVID-19'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 72227 (delta 4), reused 9 (delta 4), pack-reused 72215
Receiving objects: 100% (72227/72227), 602.99 MiB | 32.08 MiB/s, done.
Resolving deltas: 100% (47504/47504), done.
Checking out files: 100% (788/788), done.

More than 600 Mb of data ...

## Exporing the data

In [7]:
!ls -lt ./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports | head

total 122836
-rw-r--r-- 1 root root 564157 Dec  7 18:29 12-06-2020.csv
-rw-r--r-- 1 root root      0 Dec  7 18:29 README.md
-rw-r--r-- 1 root root 563864 Dec  7 18:29 12-05-2020.csv
-rw-r--r-- 1 root root 563736 Dec  7 18:29 12-04-2020.csv
-rw-r--r-- 1 root root 563734 Dec  7 18:29 12-03-2020.csv
-rw-r--r-- 1 root root 563593 Dec  7 18:29 12-02-2020.csv
-rw-r--r-- 1 root root 562961 Dec  7 18:29 12-01-2020.csv
-rw-r--r-- 1 root root 562859 Dec  7 18:29 11-30-2020.csv
-rw-r--r-- 1 root root 563046 Dec  7 18:29 11-29-2020.csv

Yes!!!  
We have data files ...

Perfect. Let's explore the first dataset generated ...

In [8]:
first = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv")

In [9]:
first.head()

  Province/State  Country/Region      Last Update  Confirmed  Deaths  Recovered
0          Anhui  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
1        Beijing  Mainland China  1/22/2020 17:00       14.0     NaN        NaN
2      Chongqing  Mainland China  1/22/2020 17:00        6.0     NaN        NaN
3         Fujian  Mainland China  1/22/2020 17:00        1.0     NaN        NaN
4          Gansu  Mainland China  1/22/2020 17:00        NaN     NaN        NaN

And one of the last ones ...

In [10]:
last = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/12-06-2020.csv")

In [11]:
last.head()

   FIPS Admin2 Province_State  ... Combined_Key Incident_Rate  Case_Fatality_Ratio
0   NaN    NaN            NaN  ...  Afghanistan    121.520719             3.961443
1   NaN    NaN            NaN  ...      Albania   1493.779971             2.105239
2   NaN    NaN            NaN  ...      Algeria    201.254050             2.850927
3   NaN    NaN            NaN  ...      Andorra   9124.441856             1.106383
4   NaN    NaN            NaN  ...       Angola     47.437695             2.270541

[5 rows x 14 columns]

Can I concatenate both datasets?

In [12]:
last.query("Country_Region == 'Spain'")

     FIPS Admin2  ... Incident_Rate Case_Fatality_Ratio
593   NaN    NaN  ...   2833.410759            1.799123
594   NaN    NaN  ...   5644.009553            3.166340
595   NaN    NaN  ...   2364.985497            4.438469
596   NaN    NaN  ...   2128.225413            1.680639
597   NaN    NaN  ...   2182.646766            2.250751
598   NaN    NaN  ...    985.680826            1.590585
599   NaN    NaN  ...   2734.160762            2.037351
600   NaN    NaN  ...   4322.423419            4.348765
601   NaN    NaN  ...   5126.523580            3.764795
602   NaN    NaN  ...   4098.907398            2.620099
603   NaN    NaN  ...   3364.415471            1.927120
604   NaN    NaN  ...   2765.190197            3.295883
605   NaN    NaN  ...   1909.206681            2.416743
606   NaN    NaN  ...   5383.469772            3.323263
607   NaN    NaN  ...   5334.910050            3.224714
608   NaN    NaN  ...   4902.643791            1.035645
609   NaN    NaN  ...   3704.871332            1.130343
610   NaN    NaN  ...   6159.280925            2.230715
611   NaN    NaN  ...   4578.581005            2.575314
612   NaN    NaN  ...           NaN                 NaN

[20 rows x 14 columns]

In [13]:
pd.concat((first, last), axis = 0)

     Province/State  Country/Region  ... Incident_Rate  Case_Fatality_Ratio
0             Anhui  Mainland China  ...           NaN                  NaN
1           Beijing  Mainland China  ...           NaN                  NaN
2         Chongqing  Mainland China  ...           NaN                  NaN
3            Fujian  Mainland China  ...           NaN                  NaN
4             Gansu  Mainland China  ...           NaN                  NaN
...             ...             ...  ...           ...                  ...
3971            NaN             NaN  ...   1921.780149             0.844570
3972            NaN             NaN  ...      1.674116            10.000000
3973            NaN             NaN  ...      7.835454            27.342747
3974            NaN             NaN  ...     97.454541             2.031704
3975            NaN             NaN  ...     72.112310             2.715059

[4014 rows x 17 columns]

Ups!!! The column names don't match :-(

## Loading the data into Pandas and cleaning it

In [14]:
import glob
import os

files = glob.glob("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv")
files.sort(key=os.path.getmtime)

We are going to:
- Create a blank Dataset to store all the data
- Load every dataset unifying the column names so we can concatenate it without any problem.
- Remove extra blank spaces from the country field
- Enrich the information with the date of the data in the correct type

In [15]:
data = pd.DataFrame()
for file in files:  
  df = pd.read_csv(file).rename(columns = {'Province/State' : 'State', 
                        "Country/Region" : 'Country',
                        'Province_State' : 'State', 
                        "Country_Region" : 'Country',
                        'Last Update' : 'Last_Update',
                        'Confirmed' : 'ConfirmedAcum',
                        'Deaths' : 'DeathsAcum',
                        'Recovered' : 'RecoveredAcum'})
  df = df.assign(Date = pd.to_datetime(file[-14:-4], format = '%m-%d-%Y'),
                 Country = df.Country.str.strip())
  data = pd.concat((data, df), axis = 0)

I noticed that the country names were a little messy.   
Let's fix it ...

In [16]:
data['Country'] = data.Country.replace({'Bahamas, The' : 'Bahamas',
                         'Congo (Brazzaville)' : 'Congo',
                         'Congo (Kinshasa)' : 'Congo',
                         "Cote d'Ivoire" : "Cote d'Ivoire",
                         "Curacao" : "Curaçao",
                         'Czech Republic' : 'Czech Republic (Czechia)',
                         'Czechia' : 'Czech Republic (Czechia)',
                         'Faroe Islands' : 'Faeroe Islands',
                         'Macau' : 'Macao',
                         'Mainland China' : 'China',
                         'Palestine' : 'State of Palestine',
                         'Reunion' : 'Réunion',
                         'Saint Kitts and Nevis' : 'Saint Kitts & Nevis',
                         'Sao Tome and Principe' : 'Sao Tome & Principe',
                         'US' : 'United States',
                         'Gambia, The' : 'Gambia',
                         'Hong Kong SAR' : 'Hong Kong',
                         'Korea, South' : 'South Korea',
                         'Macao SAR' : 'Macao',
                         'Taiwan*' : 'Taiwan',
                         'Viet Nam' : 'Vietnam',
                         'West Bank and Gaza' : 'State of Palestine',
                         'occupied Palestinian territory' : 'State of Palestine'
                         })

I'm going to fill in the NULL values ​​of the 'State' and 'Admin2' fields so that later I can group the information correctly

In [18]:
data = data.fillna({'State' : 'NA', 'Admin2' : 'NA'})

Finally I am going to be left alone with the columns that interest me

In [19]:
data = data[['Date', 'Country', 'State', 'Admin2', 'ConfirmedAcum', 'DeathsAcum', 'RecoveredAcum']]

Let's verify the structure of the dateset ...

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 971477 entries, 0 to 3975
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           971477 non-null  datetime64[ns]
 1   Country        971477 non-null  object
 2   State          971477 non-null  object
 3   Admin2         971477 non-null  object
 4   ConfirmedAcum  971458 non-null  float64
 5   DeathsAcum     971035 non-null  float64
 6   RecoveredAcum  971086 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 59.3+ MB

Wait a set, I think that can be interesting have a column the the active cases. Let's create it ...

In [21]:
data['ActiveAcum'] = data.ConfirmedAcum  - data.DeathsAcum - data.RecoveredAcum

In [22]:
data.query("Country == 'Spain'").sort_values('Date', ascending = False).head()

          Date Country      State  ... DeathsAcum  RecoveredAcum  ActiveAcum
612 2020-12-06   Spain    Unknown  ...        0.0            0.0         0.0
602 2020-12-06   Spain  Catalonia  ...     8126.0        26203.0    275812.0
593 2020-12-06   Spain  Andalusia  ...     4296.0        10671.0    223816.0
594 2020-12-06   Spain     Aragon  ...     2360.0         3772.0     68402.0
595 2020-12-06   Spain   Asturias  ...     1073.0         1063.0     22039.0

[5 rows x 8 columns]

Perfect :-)

Now, I am going to group and summarize the data because I want to be sure that there is only one row per Date, Country, State and Admin2

In [23]:
data = data.groupby(["Date", "Country", "State", "Admin2"]).agg("sum").reset_index()

In [24]:
data.head()

        Date Country      State  ... DeathsAcum  RecoveredAcum  ActiveAcum
0 2020-01-22   China      Anhui  ...        0.0            0.0         0.0
1 2020-01-22   China    Beijing  ...        0.0            0.0         0.0
2 2020-01-22   China  Chongqing  ...        0.0            0.0         0.0
3 2020-01-22   China     Fujian  ...        0.0            0.0         0.0
4 2020-01-22   China      Gansu  ...        0.0            0.0         0.0

[5 rows x 8 columns]

##  Daily Cases
I am going to enrich the data by creating new columns with the daily cases.  

First I create new columns with the cases from the previous day

In [25]:
data = data.sort_values(['State', 'Country', 'Date']).\
            assign(ConfirmedPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ConfirmedAcum"],
                   DeathsPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["DeathsAcum"],
                   RecoveredPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["RecoveredAcum"],
                   ActivePrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ActiveAcum"],
            ).\
            fillna({ 'ConfirmedPrevious' : 0, 'DeathsPrevious' : 0, 'RecoveredPrevious' : 0 })

In [26]:
data.head()

           Date Country  ... RecoveredPrevious ActivePrevious
2599 2020-02-28  Canada  ...               0.0            NaN
2713 2020-02-29  Canada  ...               0.0            1.0
2834 2020-03-01  Canada  ...               0.0            1.0
2961 2020-03-02  Canada  ...               0.0            1.0
3103 2020-03-03  Canada  ...               0.0            1.0

[5 rows x 12 columns]

After that I am going to assign the new fields subtracting the previous acum cases to the actual acum cases

In [27]:
data = data.assign(Confirmed = data.ConfirmedAcum -  data.ConfirmedPrevious,
            Deaths = data.DeathsAcum - data.DeathsPrevious,
            Recovered = data.RecoveredAcum - data.RecoveredPrevious,
            Active = data.ActiveAcum - data.ActivePrevious
            )

I no longer need the fields I used to make the calculation so I can drop them

In [28]:
data = data.drop(['ConfirmedPrevious', 'DeathsPrevious', 'RecoveredPrevious', 'ActivePrevious'], axis = 1)

Does the data look good?

In [29]:
data.query("Country == 'Spain'")

             Date Country      State  ...  Deaths  Recovered  Active
172123 2020-05-14   Spain  Andalusia  ...  1336.0     9918.0     NaN
175417 2020-05-15   Spain  Andalusia  ...     8.0      230.0  -196.0
178717 2020-05-16   Spain  Andalusia  ...    11.0      171.0  -163.0
182021 2020-05-17   Spain  Andalusia  ...     0.0        0.0     0.0
185328 2020-05-18   Spain  Andalusia  ...     3.0      352.0  -317.0
...           ...     ...        ...  ...     ...        ...     ...
951941 2020-12-02   Spain    Unknown  ...     0.0        0.0     0.0
955916 2020-12-03   Spain    Unknown  ...     0.0        0.0     0.0
959891 2020-12-04   Spain    Unknown  ...     0.0        0.0     0.0
963866 2020-12-05   Spain    Unknown  ...     0.0        0.0     0.0
967841 2020-12-06   Spain    Unknown  ...     0.0        0.0     0.0

[4238 rows x 12 columns]

## Data By Country

So far, we have data by 3 geographical levels: Country, State and a lower level called Admin2

The problem is that not all countries have this level of information, so I will create a new dataset only with the country level data

In [30]:
data_by_country = data.groupby(["Date", "Country"]).agg("sum").reset_index()
data_by_country = data_by_country.sort_values(['Country', 'Date'])
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52205 entries, 848 to 52204
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           52205 non-null  datetime64[ns]
 1   Country        52205 non-null  object
 2   ConfirmedAcum  52205 non-null  float64
 3   DeathsAcum     52205 non-null  float64
 4   RecoveredAcum  52205 non-null  float64
 5   ActiveAcum     52205 non-null  float64
 6   Confirmed      52205 non-null  float64
 7   Deaths         52205 non-null  float64
 8   Recovered      52205 non-null  float64
 9   Active         52205 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 4.4+ MB

In [31]:
data_by_country.head()

           Date      Country  ConfirmedAcum  ...  Deaths  Recovered  Active
848  2020-02-24  Afghanistan            1.0  ...     0.0        0.0     0.0
886  2020-02-25  Afghanistan            1.0  ...     0.0        0.0     0.0
928  2020-02-26  Afghanistan            1.0  ...     0.0        0.0     0.0
977  2020-02-27  Afghanistan            1.0  ...     0.0        0.0     0.0
1030 2020-02-28  Afghanistan            1.0  ...     0.0        0.0     0.0

[5 rows x 10 columns]

In [32]:
data_by_country[data_by_country.Country == 'United States']

            Date        Country  ConfirmedAcum  ...  Deaths  Recovered    Active
7     2020-01-22  United States            1.0  ...     0.0        0.0       0.0
22    2020-01-23  United States            1.0  ...     0.0        0.0       0.0
33    2020-01-24  United States            2.0  ...     0.0        0.0       0.0
47    2020-01-25  United States            2.0  ...     0.0        0.0       0.0
62    2020-01-26  United States            5.0  ...     0.0        0.0       0.0
...          ...            ...            ...  ...     ...        ...       ...
51435 2020-12-02  United States     13921913.0  ...  2804.0    95547.0  101704.0
51625 2020-12-03  United States     14139577.0  ...  2879.0    81890.0  132895.0
51815 2020-12-04  United States     14367462.0  ...  2607.0    66371.0  158907.0
52005 2020-12-05  United States     14581337.0  ...  2254.0   105637.0  105984.0
52195 2020-12-06  United States     14757000.0  ...  1113.0    48418.0  126132.0

[320 rows x 10 columns]

## Cases per million inhabitants

We are going to enrich the information with the number of cases per million inhabitants, so we need population data by country.

A small internet search leads me to a page that has population data for 2020:

https://www.worldometers.info/world-population/population-by-country/

It seems that this information is protected to be downloaded automatically so I have no choice but to do it manually and upload the data to a GitHub Repository:

https://github.com/dvillaj/world-population/

I load the data to the Pandas, clean it up and just maintain the field of the population

In [33]:
population = pd.read_excel("https://github.com/dvillaj/world-population/blob/master/data/world-popultation-2020.xlsx?raw=true", sheet_name="Data")

In [34]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            235 non-null    object
 1   Population (2020)  235 non-null    int64
 2   Yearly Change      235 non-null    float64
 3   Net Change         235 non-null    int64
 4   Density (P/Km²)    235 non-null    float64
 5   Land Area (Km²)    235 non-null    int64
 6   Migrants (net)     201 non-null    float64
 7   Fertility Rate     201 non-null    float64
 8   Average Age        201 non-null    float64
 9   Urban Pop %        222 non-null    float64
 10  World Share        235 non-null    float64
dtypes: float64(7), int64(3), object(1)
memory usage: 20.3+ KB

In [35]:
population = population.rename(columns = {
    'Population (2020)' : 'Population',
    'Yearly Change' : 'Yearly_Change',
    'Net Change' : 'Net_Change',
    'Density (P/Km²)' : 'Density',
    'Land Area (Km²)' : 'Land_Area',
    'Migrants (net)' : 'igrants',
    'Fertility Rate' : 'Fertility',
    'Average Age' : 'Mean_Age',
    'Urban Pop %' : 'Urban_Pop',
    'World Share' : 'World_Share'
})

In [36]:
population = population[['Country', 'Population']]

In [37]:
population.head()

          Country  Population
0     Afghanistan    38928346
1         Albania     2877797
2         Algeria    43851044
3  American Samoa       55191
4         Andorra       77265

Now I join the population Dataset with the country data to have the population in this dataset

In [38]:
data_by_country = data_by_country.merge(population, how = 'left', on = 'Country')

In [39]:
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52205 entries, 0 to 52204
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           52205 non-null  datetime64[ns]
 1   Country        52205 non-null  object
 2   ConfirmedAcum  52205 non-null  float64
 3   DeathsAcum     52205 non-null  float64
 4   RecoveredAcum  52205 non-null  float64
 5   ActiveAcum     52205 non-null  float64
 6   Confirmed      52205 non-null  float64
 7   Deaths         52205 non-null  float64
 8   Recovered      52205 non-null  float64
 9   Active         52205 non-null  float64
 10  Population     50503 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 4.8+ MB

In [40]:
data_by_country.head()

        Date      Country  ConfirmedAcum  ...  Recovered  Active  Population
0 2020-02-24  Afghanistan            1.0  ...        0.0     0.0  38928346.0
1 2020-02-25  Afghanistan            1.0  ...        0.0     0.0  38928346.0
2 2020-02-26  Afghanistan            1.0  ...        0.0     0.0  38928346.0
3 2020-02-27  Afghanistan            1.0  ...        0.0     0.0  38928346.0
4 2020-02-28  Afghanistan            1.0  ...        0.0     0.0  38928346.0

[5 rows x 11 columns]

And finally I calculate the number of cases per million inhabitants

In [41]:
data_by_country = data_by_country.assign(ConfirmedAcum_Millon = data_by_country.ConfirmedAcum / data_by_country.Population * 1000000)
data_by_country.head()

        Date      Country  ...  Population  ConfirmedAcum_Millon
0 2020-02-24  Afghanistan  ...  38928346.0              0.025688
1 2020-02-25  Afghanistan  ...  38928346.0              0.025688
2 2020-02-26  Afghanistan  ...  38928346.0              0.025688
3 2020-02-27  Afghanistan  ...  38928346.0              0.025688
4 2020-02-28  Afghanistan  ...  38928346.0              0.025688

[5 rows x 12 columns]

## Rankins

I'm going to create a dataset of last day's cases. 

The goal is to get a set of rankings that tell me the countries with the most cases

So I need a variable that contains the last date of the dataset

In [42]:
last_day = list(data_by_country.Date.sort_values(ascending = False))[0]
last_day

Timestamp('2020-12-06 00:00:00')

Now I can filter the data by this date

In [43]:
last_day_data = data_by_country[data_by_country.Date == last_day]
last_day_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190 entries, 286 to 52204
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  190 non-null    datetime64[ns]
 1   Country               190 non-null    object
 2   ConfirmedAcum         190 non-null    float64
 3   DeathsAcum            190 non-null    float64
 4   RecoveredAcum         190 non-null    float64
 5   ActiveAcum            190 non-null    float64
 6   Confirmed             190 non-null    float64
 7   Deaths                190 non-null    float64
 8   Recovered             190 non-null    float64
 9   Active                190 non-null    float64
 10  Population            184 non-null    float64
 11  ConfirmedAcum_Millon  184 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 19.3+ KB

In [44]:
last_day_data

            Date         Country  ...  Population  ConfirmedAcum_Millon
286   2020-12-06     Afghanistan  ...  38928346.0           1215.207037
559   2020-12-06         Albania  ...   2877797.0          14937.815280
845   2020-12-06         Algeria  ...  43851044.0           2012.540454
1125  2020-12-06         Andorra  ...     77265.0          91244.418560
1387  2020-12-06          Angola  ...  32866272.0            474.376893
...          ...             ...  ...         ...                   ...
51191 2020-12-06         Vietnam  ...  97338579.0             14.033490
51437 2020-12-06  Western Sahara  ...    597339.0             16.740913
51678 2020-12-06           Yemen  ...  29825964.0             78.354550
51942 2020-12-06          Zambia  ...  18383955.0            974.545466
52204 2020-12-06        Zimbabwe  ...  14862924.0            721.123246

[190 rows x 12 columns]

Let's assign new columns with the most interesting rankins ...

In [45]:
last_day_data = last_day_data.assign(
    Rank_ConfirmedAcum = last_day_data.ConfirmedAcum.rank(),
    Rank_Confirmed = last_day_data.Confirmed.rank(),
    Rank_ActiveAcum = last_day_data.ActiveAcum.rank(),
    Rank_Active = last_day_data.Active.rank(),
    Rank_ConfirmedAcum_Millon = last_day_data.ConfirmedAcum_Millon.rank()
)
last_day_data

            Date         Country  ...  Rank_Active  Rank_ConfirmedAcum_Millon
286   2020-12-06     Afghanistan  ...         34.0                       61.0
559   2020-12-06         Albania  ...        162.0                      124.0
845   2020-12-06         Algeria  ...        146.0                       73.0
1125  2020-12-06         Andorra  ...         37.5                      184.0
1387  2020-12-06          Angola  ...        129.0                       38.0
...          ...             ...  ...          ...                        ...
51191 2020-12-06         Vietnam  ...         99.0                        4.0
51437 2020-12-06  Western Sahara  ...         74.0                        5.0
51678 2020-12-06           Yemen  ...        118.5                       17.0
51942 2020-12-06          Zambia  ...        110.0                       51.0
52204 2020-12-06        Zimbabwe  ...        131.0                       45.0

[190 rows x 17 columns]

Which countries have the most confirmed cases?

In [46]:
last_day_data.sort_values('Rank_ConfirmedAcum', ascending = False)[['Country', 'ConfirmedAcum']].reset_index(drop = True).head(10)

          Country  ConfirmedAcum
0   United States     14757000.0
1           India      9677203.0
2          Brazil      6603540.0
3          Russia      2439163.0
4          France      2345648.0
5           Italy      1728878.0
6  United Kingdom      1727751.0
7           Spain      1684647.0
8       Argentina      1463110.0
9        Colombia      1371103.0

Which countries have more confirmed cases on the last day?

In [47]:
last_day_data.sort_values('Rank_Confirmed', ascending = False)[['Country', 'Confirmed']].reset_index(drop = True).head(10)

          Country  Confirmed
0   United States   175663.0
1           India    32981.0
2          Turkey    30402.0
3          Russia    28701.0
4          Brazil    26363.0
5           Italy    18887.0
6  United Kingdom    17372.0
7         Ukraine    11928.0
8            Iran    11561.0
9          France    11022.0

Which countries have the most active cases?

In [48]:
last_day_data.sort_values('Rank_ActiveAcum', ascending = False)[['Country', 'ActiveAcum']].reset_index(drop = True).head(10)

          Country  ActiveAcum
0   United States   8850257.0
1          France   2115181.0
2  United Kingdom   1662673.0
3           Spain   1488019.0
4           Italy    755306.0
5         Belgium    574436.0
6          Brazil    559942.0
7     Netherlands    549560.0
8          Russia    475744.0
9           India    396729.0

Which countries had the most active cases on the last day?

In [49]:
last_day_data.sort_values('Rank_Active', ascending = False)[['Country', 'Active']].reset_index(drop = True).head(10)

          Country    Active
0   United States  126132.0
1          Turkey   26196.0
2          Brazil   24231.0
3  United Kingdom   17055.0
4          France   10620.0
5          Russia    6984.0
6     Netherlands    6853.0
7          Serbia    5751.0
8         Ukraine    5631.0
9         Hungary    5249.0

Which countries have the most active cases per million inhabitants?

In [50]:
last_day_data.sort_values('Rank_ConfirmedAcum_Millon', ascending = False)[['Country', 'ConfirmedAcum_Millon']].reset_index(drop = True).head(20)

                     Country  ConfirmedAcum_Millon
0                    Andorra          91244.418560
1                 Montenegro          60894.874106
2                 Luxembourg          59134.666075
3                 San Marino          52724.647078
4                    Bahrain          51675.653439
5   Czech Republic (Czechia)          51063.028312
6                    Belgium          51059.124184
7                      Qatar          48561.411401
8                    Armenia          47899.210426
9              United States          44582.724505
10                  Slovenia          41273.477131
11                    Panama          41188.550853
12                   Georgia          40729.054462
13                    Israel          39848.027880
14               Switzerland          39804.973574
15                   Croatia          36624.414441
16             Liechtenstein          36613.512379
17                     Spain          36031.547407
18                    France          35935.679942
19                    Kuwait          33805.549656

What is the total number of cases?

In [52]:
import locale
locale.setlocale(locale.LC_ALL, '')

total = pd.DataFrame(last_day_data[["ConfirmedAcum", "RecoveredAcum", "DeathsAcum"]].aggregate("sum")\
                     .apply(lambda value : locale.format("%d", value, grouping=True)))
total.columns = ["Total Cases"]
total.index = ['Confirmed', 'Recovered', 'Deaths']
display(total.T)

              Confirmed   Recovered     Deaths
Total Cases  67,073,728  43,103,827  1,536,056

## Saving the clean dataset

Finally I will create an Excel file with the information per country once it is clean and in perfect condition to apply some machine learning algorithms ...

In [54]:
data_by_country.to_excel("All_data.xlsx", index = False)

## Convert to PDF

[Google Colab](https://colab.research.google.com) does not have a 'export to PDF' feature so let's install the packages needed to export this notebook to pdf manually.

```
!apt-get install texlive texlive-xetex texlive-latex-extra pandoc
!pip install pypandoc
```


Now let's mount our 'google drive' unit into this notebook so we can access to it.

``` 
from google.colab import drive
drive.mount('/content/drive')
```

Let's list the notebooks in 'Google Drive' to check that everything is fine and copy it to the local directory

```
ls -la "./drive/My Drive/Colab Notebooks/"
```

```
!cp "./drive/My Drive/Colab Notebooks/Covid-19.ipynb" .
```

The last step is generate a PDF from this notebook :-)

```
!jupyter nbconvert --to PDF "Covid-19.ipynb"
````