# Pandas and Covid-19

<a href="https://colab.research.google.com/github/dvillaj/pandas-examples/blob/master/Covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is an example of data analysis and manipulation with **Pandas** and has beed created in [Google Colab](https://colab.research.google.com)

Enjoy it!

In [1]:
import numpy as np
import pandas as pd

## The Data

To get some data I and going to download it from Data Repository by Johns Hopkins CSSE

https://github.com/CSSEGISandData/COVID-19

I first remove the folder where I am goint to store the data so I can re-execute this sentences without any problems ...

In [2]:
!rm -rf ./COVID-19

The dataset is avaible in GitHub so I use the `git` command to get it

In [3]:
!git clone https://github.com/CSSEGISandData/COVID-19.git

Cloning into 'COVID-19'...
Updating files:  38% (418/1084)
Updating files:  39% (423/1084)
Updating files:  40% (434/1084)
Updating files:  41% (445/1084)
Updating files:  42% (456/1084)
Updating files:  43% (467/1084)
Updating files:  44% (477/1084)
Updating files:  45% (488/1084)
Updating files:  46% (499/1084)
Updating files:  47% (510/1084)
Updating files:  48% (521/1084)
Updating files:  49% (532/1084)
Updating files:  50% (542/1084)
Updating files:  51% (553/1084)
Updating files:  52% (564/1084)
Updating files:  53% (575/1084)
Updating files:  54% (586/1084)
Updating files:  55% (597/1084)
Updating files:  56% (608/1084)
Updating files:  57% (618/1084)
Updating files:  58% (629/1084)
Updating files:  59% (640/1084)
Updating files:  60% (651/1084)
Updating files:  61% (662/1084)
Updating files:  62% (673/1084)
Updating files:  63% (683/1084)
Updating files:  64% (694/1084)
Updating files:  65% (705/1084)
Updating files:  66% (716/1084)
Updating files:  67% (727/1084)
Updating files:  68% (738/1084)
Updating files:  69% (748/1084)
Updating files:  70% (759/1084)
Updating files:  71% (770/1084)
Updating files:  72% (781/1084)
Updating files:  73% (792/1084)
Updating files:  74% (803/1084)
Updating files:  75% (813/1084)
Updating files:  76% (824/1084)
Updating files:  77% (835/1084)
Updating files:  78% (846/1084)
Updating files:  79% (857/1084)
Updating files:  80% (868/1084)
Updating files:  81% (879/1084)
Updating files:  82% (889/1084)
Updating files:  83% (900/1084)
Updating files:  84% (911/1084)
Updating files:  85% (922/1084)
Updating files:  86% (933/1084)
Updating files:  87% (944/1084)
Updating files:  88% (954/1084)
Updating files:  89% (965/1084)
Updating files:  90% (976/1084)
Updating files:  91% (987/1084)
Updating files:  91% (989/1084)
Updating files:  92% (998/1084)
Updating files:  93% (1009/1084)
Updating files:  94% (1019/1084)
Updating files:  95% (1030/1084)
Updating files:  96% (1041/1084)
Updating files:  97% (1052/1084)
Updating files:  98% (1063/1084)
Updating files:  99% (1074/1084)
Updating files: 100% (1084/1084)
Updating files: 100% (1084/1084), done.

More than **1.5 Gb** of data ...

## Exporing the data

In [4]:
!ls -lt ./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports  | head

total 206144
-rw-r--r-- 1 Daniel 197121 570585 May  4 12:42 12-31-2020.csv
-rw-r--r-- 1 Daniel 197121      0 May  4 12:42 README.md
-rw-r--r-- 1 Daniel 197121 570756 May  4 12:42 12-30-2020.csv
-rw-r--r-- 1 Daniel 197121 570615 May  4 12:42 12-29-2020.csv
-rw-r--r-- 1 Daniel 197121 570480 May  4 12:42 12-28-2020.csv
-rw-r--r-- 1 Daniel 197121 570484 May  4 12:42 12-27-2020.csv
-rw-r--r-- 1 Daniel 197121 570460 May  4 12:42 12-26-2020.csv
-rw-r--r-- 1 Daniel 197121 570369 May  4 12:42 12-25-2020.csv
-rw-r--r-- 1 Daniel 197121 570379 May  4 12:42 12-24-2020.csv

ls: write error: No such file or directory

Yes!!!  
We have data files ...

Perfect. Let's explore the first dataset generated ...

In [5]:
first = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-30-2020.csv")

In [6]:
first.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-01 02:32:28,34.223334,-82.461707,31,0,0,31,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-01 02:32:28,30.295065,-92.414197,130,10,0,120,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-01 02:32:28,37.767072,-75.632346,264,4,0,260,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-01 02:32:28,43.452658,-116.241552,671,16,0,655,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-01 02:32:28,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

And one of the last ones ...

In [7]:
last = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/12-06-2020.csv")

In [8]:
last.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-12-07 05:26:14,33.93911,67.709953,47306,1874,37685,7747.0,Afghanistan,121.520719,3.961443
1,NaN,NaN,NaN,Albania,2020-12-07 05:26:14,41.15330,20.168300,42988,905,21617,20466.0,Albania,1493.779971,2.105239
2,NaN,NaN,NaN,Algeria,2020-12-07 05:26:14,28.03390,1.659600,88252,2516,57146,28590.0,Algeria,201.254050,2.850927
3,NaN,NaN,NaN,Andorra,2020-12-07 05:26:14,42.50630,1.521800,7050,78,6238,734.0,Andorra,9124.441856,1.106383
4,NaN,NaN,NaN,Angola,2020-12-07 05:26:14,-11.20270,17.873900,15591,354,8338,6899.0,Angola,47.437695,2.270541

Can I concatenate both datasets?

In [9]:
last.query("Country_Region == 'Spain'")

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
594,NaN,NaN,Andalusia,Spain,2020-12-07 05:26:14,37.544300,-4.727800,238783,4296,10671,223816.0,"Andalusia, Spain",2833.410759,1.799123
595,NaN,NaN,Aragon,Spain,2020-12-07 05:26:14,41.597600,-0.905700,74534,2360,3772,68402.0,"Aragon, Spain",5644.009553,3.166340
596,NaN,NaN,Asturias,Spain,2020-12-07 05:26:14,43.361400,-5.859300,24175,1073,1063,22039.0,"Asturias, Spain",2364.985497,4.438469
597,NaN,NaN,Baleares,Spain,2020-12-07 05:26:14,39.710358,2.995148,25288,425,1533,23330.0,"Baleares, Spain",2128.225413,1.680639
598,NaN,NaN,C. Valenciana,Spain,2020-12-07 05:26:14,39.484000,-0.753300,108586,2444,9970,96172.0,"C. Valenciana, Spain",2182.646766,2.250751
599,NaN,NaN,Canarias,Spain,2020-12-07 05:26:14,28.291600,-16.629100,21753,346,1537,19870.0,"Canarias, Spain",985.680826,1.590585
600,NaN,NaN,Cantabria,Spain,2020-12-07 05:26:14,43.182800,-3.987800,15903,324,2287,13292.0,"Cantabria, Spain",2734.160762,2.037351
601,NaN,NaN,Castilla - La Mancha,Spain,2020-12-07 05:26:14,39.279600,-3.097700,87956,3825,6392,77739.0,"Castilla - La Mancha, Spain",4322.423419,4.348765
602,NaN,NaN,Castilla y Leon,Spain,2020-12-07 05:26:14,41.835700,-4.397600,123433,4647,8716,110070.0,"Castilla y Leon, Spain",5126.523580,3.764795
603,NaN,NaN,Catalonia,Spain,2020-12-07 05:26:14,41.591200,1.520900,310141,8126,26203,275812.0,"Catalonia, Spain",4098.907398,2.620099
604,NaN,NaN,Ceuta,Spain,2020-12-07 05:26:14,35.889400,-5.321300,2854,55,163,2636.0,"Ceuta, Spain",3364.415471,1.927120
605,NaN,NaN,Extremadura,Spain,2020-12-07 05:26:14,39.493700,-6.067900,29461,971,2652,25838.0,"Extremadura, Spain",2765.190197,3.295883
606,NaN,NaN,Galicia,Spain,2020-12-07 05:26:14,42.575100,-8.133900,51557,1246,9204,41107.0,"Galicia, Spain",1909.206681,2.416743
607,NaN,NaN,La Rioja,Spain,2020-12-07 05:26:14,42.287100,-2.539600,16881,561,3107,13213.0,"La Rioja, Spain",5383.469772,3.323263
608,NaN,NaN,Madrid,Spain,2020-12-07 05:26:14,40.416800,-3.703800,354326,11426,40736,302164.0,"Madrid, Spain",5334.910050,3.224714
609,NaN,NaN,Melilla,Spain,2020-12-07 05:26:14,35.292300,-2.938100,4152,43,125,3984.0,"Melilla, Spain",4902.643791,1.035645
610,NaN,NaN,Murcia,Spain,2020-12-07 05:26:14,37.992200,-1.130700,55116,623,2180,52313.0,"Murcia, Spain",3704.871332,1.130343
611,NaN,NaN,Navarra,Spain,2020-12-07 05:26:14,42.695400,-1.676100,40032,893,3905,35234.0,"Navarra, Spain",6159.280925,2.230715
612,NaN,NaN,Pais Vasco,Spain,2020-12-07 05:26:14,42.989600,-2.618900,99716,2568,16160,80988.0,"Pais Vasco, Spain",4578.581005,2.575314
613,NaN,NaN,Unknown,Spain,2020-12-07 05:26:14,NaN,NaN,0,0,0,0.0,"Unknown, Spain",NaN,NaN

In [11]:
first.append(last)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-05-01 02:32:28,34.223334,-82.461707,31,0,0,31.0,"Abbeville, South Carolina, US",NaN,NaN
1,22001.0,Acadia,Louisiana,US,2020-05-01 02:32:28,30.295065,-92.414197,130,10,0,120.0,"Acadia, Louisiana, US",NaN,NaN
2,51001.0,Accomack,Virginia,US,2020-05-01 02:32:28,37.767072,-75.632346,264,4,0,260.0,"Accomack, Virginia, US",NaN,NaN
3,16001.0,Ada,Idaho,US,2020-05-01 02:32:28,43.452658,-116.241552,671,16,0,655.0,"Ada, Idaho, US",NaN,NaN
4,19001.0,Adair,Iowa,US,2020-05-01 02:32:28,41.330756,-94.471059,1,0,0,1.0,"Adair, Iowa, US",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3975,NaN,NaN,NaN,Zambia,2020-12-07 05:26:14,-13.133897,27.849332,17916,364,17173,379.0,Zambia,97.454541,2.031704
3976,NaN,NaN,NaN,Zimbabwe,2020-12-07 05:26:14,-19.015438,29.154857,10718,291,8880,1547.0,Zimbabwe,72.112310,2.715059
3977,2066.0,Copper River,Alaska,US,2021-04-02 15:13:53,60.388600,-162.890520,127,0,0,0.0,"Copper River, Alaska, US",NaN,NaN
3978,2063.0,Chugach,Alaska,US,2021-04-02 15:13:53,61.166660,-149.900000,181,3,0,0.0,"Chugach, Alaska, US",NaN,NaN
3979,NaN,NaN,Unknown,China,2020-12-07 05:26:14,NaN,NaN,0,0,0,0.0,"Unknown, China",0.000000,0.000000

Ups!!! The column names don't match :-(

## Loading the data into Pandas and cleaning it

In [12]:
import glob
import os

files = glob.glob("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/*.csv")
files.sort(key=os.path.getmtime)

We are going to:
- Create a blank Dataset to store all the data
- Load every dataset unifying the column names so we can concatenate it without any problem.
- Remove extra blank spaces from the country field
- Enrich the information with the date of the data in the correct type

In [13]:
data = pd.DataFrame()
for file in files:  
    df = pd.read_csv(file).rename(columns = {'Province/State' : 'State', 
                        "Country/Region" : 'Country',
                        'Province_State' : 'State', 
                        "Country_Region" : 'Country',
                        'Last Update' : 'Last_Update',
                        'Confirmed' : 'ConfirmedAcum',
                        'Deaths' : 'DeathsAcum',
                        'Recovered' : 'RecoveredAcum'})
    df = df.assign(Date = pd.to_datetime(file[-14:-4], format = '%m-%d-%Y'),
                 Country = df.Country.str.strip())
    data = data.append(df)

I noticed that the country names were a little messy.   
Let's fix it ...

In [15]:
data = data.assign(
    Country = data.Country.replace({'Bahamas, The' : 'Bahamas',
                         'Congo (Brazzaville)' : 'Congo',
                         'Congo (Kinshasa)' : 'Congo',
                         "Cote d'Ivoire" : "Cote d'Ivoire",
                         "Curacao" : "Curaçao",
                         'Czech Republic' : 'Czech Republic (Czechia)',
                         'Czechia' : 'Czech Republic (Czechia)',
                         'Faroe Islands' : 'Faeroe Islands',
                         'Macau' : 'Macao',
                         'Mainland China' : 'China',
                         'Palestine' : 'State of Palestine',
                         'Reunion' : 'Réunion',
                         'Saint Kitts and Nevis' : 'Saint Kitts & Nevis',
                         'Sao Tome and Principe' : 'Sao Tome & Principe',
                         'US' : 'United States',
                         'Gambia, The' : 'Gambia',
                         'Hong Kong SAR' : 'Hong Kong',
                         'Korea, South' : 'South Korea',
                         'Macao SAR' : 'Macao',
                         'Taiwan*' : 'Taiwan',
                         'Viet Nam' : 'Vietnam',
                         'West Bank and Gaza' : 'State of Palestine',
                         'occupied Palestinian territory' : 'State of Palestine'
                         })
)

I'm going to fill in the NULL values ​​of the 'State' and 'Admin2' fields so that later I can group the information correctly

In [16]:
data = data.fillna({'State' : 'NA', 'Admin2' : 'NA'})

Finally I am going to be left alone with the columns that interest me

In [17]:
data = data.filter(['Date', 'Country', 'State', 'Admin2', 'ConfirmedAcum', 'DeathsAcum', 'RecoveredAcum'])

Let's verify the structure of the dateset ...

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1561871 entries, 0 to 3979
Data columns (total 7 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Date           1561871 non-null  datetime64[ns]
 1   Country        1561871 non-null  object
 2   State          1561871 non-null  object
 3   Admin2         1561871 non-null  object
 4   ConfirmedAcum  1561842 non-null  float64
 5   DeathsAcum     1561429 non-null  float64
 6   RecoveredAcum  1371461 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 95.3+ MB

More than **1.5 MM** of rows!

Wait a sec, I think that can be interesting have a column the the active cases. Let's create it ...

In [19]:
data = data.assign(
    ActiveAcum = data.ConfirmedAcum  - data.DeathsAcum - data.RecoveredAcum
)

In [20]:
data.query("Country == 'Spain'") \
    .sort_values('Date', ascending = False) \
    .head()

,Date,Country,State,Admin2,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum
603,2021-05-03,Spain,Cantabria,NA,29059.0,557.0,2287.0,26215.0
601,2021-05-03,Spain,C. Valenciana,NA,390994.0,7313.0,9970.0,373711.0
616,2021-05-03,Spain,Unknown,NA,0.0,0.0,0.0,0.0
614,2021-05-03,Spain,Navarra,NA,60249.0,1163.0,3905.0,55181.0
598,2021-05-03,Spain,Aragon,NA,119153.0,3444.0,3772.0,111937.0

Perfect :-)

Now, I am going to group and summarize the data because I want to be sure that there is only one row per Date, Country, State and Admin2

In [21]:
data = data \
      .groupby(["Date", "Country", "State", "Admin2"], as_index = False )\
      .agg("sum")

In [22]:
data.head()

,Date,Country,State,Admin2,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum
0,2020-01-22,China,Anhui,NA,1.0,0.0,0.0,0.0
1,2020-01-22,China,Beijing,NA,14.0,0.0,0.0,0.0
2,2020-01-22,China,Chongqing,NA,6.0,0.0,0.0,0.0
3,2020-01-22,China,Fujian,NA,1.0,0.0,0.0,0.0
4,2020-01-22,China,Gansu,NA,0.0,0.0,0.0,0.0

##  Daily Cases
I am going to enrich the data by creating new columns with the daily cases.  

First I create new columns with the cases from the previous day

In [23]:
data = data \
      .sort_values(['State', 'Country', 'Date']) \
      .assign(ConfirmedPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ConfirmedAcum"],
              DeathsPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["DeathsAcum"],
              RecoveredPrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["RecoveredAcum"],
              ActivePrevious = data.groupby(['Admin2', 'State', 'Country']).shift(1)["ActiveAcum"],
      ) \
      .fillna({ 'ConfirmedPrevious' : 0, 'DeathsPrevious' : 0, 'RecoveredPrevious' : 0 })

In [24]:
data.head()

,Date,Country,State,Admin2,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum,ConfirmedPrevious,DeathsPrevious,RecoveredPrevious,ActivePrevious
2635,2020-02-28,Canada,"Montreal, QC",NA,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
2750,2020-02-29,Canada,"Montreal, QC",NA,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
2872,2020-03-01,Canada,"Montreal, QC",NA,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3000,2020-03-02,Canada,"Montreal, QC",NA,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3143,2020-03-03,Canada,"Montreal, QC",NA,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0

After that I am going to assign the new fields subtracting the previous acum cases to the actual acum cases

In [25]:
data = data.assign(Confirmed = data.ConfirmedAcum -  data.ConfirmedPrevious,
            Deaths = data.DeathsAcum - data.DeathsPrevious,
            Recovered = data.RecoveredAcum - data.RecoveredPrevious,
            Active = data.ActiveAcum - data.ActivePrevious
            )

I no longer need the fields I used to make the calculation so I can drop them

In [26]:
data = data.drop(columns = ['ConfirmedPrevious', 'DeathsPrevious', 'RecoveredPrevious', 'ActivePrevious'])

Does the data look good?

In [27]:
data.query("Country == 'Spain'")

,Date,Country,State,Admin2,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum,Confirmed,Deaths,Recovered,Active
172317,2020-05-14,Spain,Andalusia,NA,12359.0,1336.0,9918.0,1105.0,12359.0,1336.0,9918.0,NaN
175615,2020-05-15,Spain,Andalusia,NA,12401.0,1344.0,10148.0,909.0,42.0,8.0,230.0,-196.0
178919,2020-05-16,Spain,Andalusia,NA,12420.0,1355.0,10319.0,746.0,19.0,11.0,171.0,-163.0
182227,2020-05-17,Spain,Andalusia,NA,12420.0,1355.0,10319.0,746.0,0.0,0.0,0.0,0.0
185538,2020-05-18,Spain,Andalusia,NA,12458.0,1358.0,10671.0,429.0,38.0,3.0,352.0,-317.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1542155,2021-04-29,Spain,Unknown,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1546137,2021-04-30,Spain,Unknown,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1550119,2021-05-01,Spain,Unknown,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1554101,2021-05-02,Spain,Unknown,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1558083,2021-05-03,Spain,Unknown,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Data By Country

So far, we have data by 3 geographical levels: Country, State and a lower level called Admin2

The problem is that not all countries have this level of information, so I will create a new dataset only with the country level data

In [28]:
data_by_country = data.groupby(["Date", "Country"], as_index = False ).agg("sum")
data_by_country = data_by_country.sort_values(['Country', 'Date'])
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80442 entries, 848 to 80441
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           80442 non-null  datetime64[ns]
 1   Country        80442 non-null  object
 2   ConfirmedAcum  80442 non-null  float64
 3   DeathsAcum     80442 non-null  float64
 4   RecoveredAcum  80442 non-null  float64
 5   ActiveAcum     80442 non-null  float64
 6   Confirmed      80442 non-null  float64
 7   Deaths         80442 non-null  float64
 8   Recovered      80442 non-null  float64
 9   Active         80442 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 6.8+ MB

In [29]:
data_by_country.head()

,Date,Country,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum,Confirmed,Deaths,Recovered,Active
848,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
886,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
928,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
977,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1030,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [30]:
data_by_country[data_by_country.Country == 'United States']

,Date,Country,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum,Confirmed,Deaths,Recovered,Active
7,2020-01-22,United States,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
22,2020-01-23,United States,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2020-01-24,United States,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
47,2020-01-25,United States,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
62,2020-01-26,United States,5.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
79669,2021-04-29,United States,32289049.0,575290.0,0.0,0.0,58199.0,854.0,0.0,0.0
79860,2021-04-30,United States,32346971.0,576328.0,0.0,0.0,57922.0,1038.0,0.0,0.0
80051,2021-05-01,United States,32392274.0,576722.0,0.0,0.0,45303.0,394.0,0.0,0.0
80242,2021-05-02,United States,32421641.0,577045.0,0.0,0.0,29367.0,323.0,0.0,0.0
80433,2021-05-03,United States,32471562.0,577522.0,0.0,0.0,49921.0,477.0,0.0,0.0

## Cases per million inhabitants

We are going to enrich the information with the number of cases per million inhabitants, so we need population data by country.

A small internet search leads me to a page that has population data for 2020:

https://www.worldometers.info/world-population/population-by-country/

It seems that this information is protected to be downloaded automatically so I have no choice but to do it manually and upload the data to a GitHub Repository:

https://github.com/dvillaj/world-population/

I load the data to the Pandas, clean it up and just maintain the field of the population

In [31]:
population = pd.read_excel("https://github.com/dvillaj/world-population/blob/master/data/world-popultation-2020.xlsx?raw=true", sheet_name="Data")

In [32]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            235 non-null    object
 1   Population (2020)  235 non-null    int64
 2   Yearly Change      235 non-null    float64
 3   Net Change         235 non-null    int64
 4   Density (P/Km²)    235 non-null    float64
 5   Land Area (Km²)    235 non-null    int64
 6   Migrants (net)     201 non-null    float64
 7   Fertility Rate     201 non-null    float64
 8   Average Age        201 non-null    float64
 9   Urban Pop %        222 non-null    float64
 10  World Share        235 non-null    float64
dtypes: float64(7), int64(3), object(1)
memory usage: 20.3+ KB

In [33]:
population = population.rename(columns = {
    'Population (2020)' : 'Population',
    'Yearly Change' : 'Yearly_Change',
    'Net Change' : 'Net_Change',
    'Density (P/Km²)' : 'Density',
    'Land Area (Km²)' : 'Land_Area',
    'Migrants (net)' : 'igrants',
    'Fertility Rate' : 'Fertility',
    'Average Age' : 'Mean_Age',
    'Urban Pop %' : 'Urban_Pop',
    'World Share' : 'World_Share'
})

In [34]:
population = population.filter(['Country', 'Population'])

In [35]:
population.head()

          Country  Population
0     Afghanistan    38928346
1         Albania     2877797
2         Algeria    43851044
3  American Samoa       55191
4         Andorra       77265

Now I join the population Dataset with the country data to have the population in this dataset

In [36]:
data_by_country = data_by_country.merge(population, how = 'left', on = 'Country')

In [37]:
data_by_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80442 entries, 0 to 80441
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           80442 non-null  datetime64[ns]
 1   Country        80442 non-null  object
 2   ConfirmedAcum  80442 non-null  float64
 3   DeathsAcum     80442 non-null  float64
 4   RecoveredAcum  80442 non-null  float64
 5   ActiveAcum     80442 non-null  float64
 6   Confirmed      80442 non-null  float64
 7   Deaths         80442 non-null  float64
 8   Recovered      80442 non-null  float64
 9   Active         80442 non-null  float64
 10  Population     77852 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 7.4+ MB

In [38]:
data_by_country.head()

,Date,Country,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum,Confirmed,Deaths,Recovered,Active,Population
0,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,38928346.0
1,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,38928346.0
2,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,38928346.0
3,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,38928346.0
4,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,38928346.0

And finally I calculate the number of cases per million inhabitants

In [39]:
data_by_country = data_by_country \
      .assign(ConfirmedAcum_Millon = data_by_country.ConfirmedAcum / data_by_country.Population * 1000000)
      
data_by_country.head()

,Date,Country,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum,Confirmed,Deaths,Recovered,Active,Population,ConfirmedAcum_Millon
0,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,38928346.0,0.025688
1,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,38928346.0,0.025688
2,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,38928346.0,0.025688
3,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,38928346.0,0.025688
4,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,38928346.0,0.025688

## Rankins

I'm going to create a dataset of last day's cases. 

The goal is to get a set of rankings that tell me the countries with the most cases

So I need a variable that contains the last date of the dataset

In [40]:
last_day = list(data_by_country.Date.sort_values(ascending = False))[0]
last_day

Timestamp('2021-05-03 00:00:00')

Now I can filter the data by this date

In [47]:
last_day_data = data_by_country.query("Date == @last_day")
last_day_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 434 to 80441
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  191 non-null    datetime64[ns]
 1   Country               191 non-null    object
 2   ConfirmedAcum         191 non-null    float64
 3   DeathsAcum            191 non-null    float64
 4   RecoveredAcum         191 non-null    float64
 5   ActiveAcum            191 non-null    float64
 6   Confirmed             191 non-null    float64
 7   Deaths                191 non-null    float64
 8   Recovered             191 non-null    float64
 9   Active                191 non-null    float64
 10  Population            185 non-null    float64
 11  ConfirmedAcum_Millon  185 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 19.4+ KB

In [48]:
last_day_data

,Date,Country,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum,Confirmed,Deaths,Recovered,Active,Population,ConfirmedAcum_Millon
434,2021-05-03,Afghanistan,60300.0,2642.0,53391.0,4267.0,178.0,5.0,0.0,173.0,38928346.0,1548.999796
855,2021-05-03,Albania,131276.0,2399.0,111792.0,17085.0,38.0,2.0,872.0,-836.0,2877797.0,45616.838158
1289,2021-05-03,Algeria,122717.0,3280.0,85534.0,33903.0,195.0,10.0,136.0,49.0,43851044.0,2798.496656
1717,2021-05-03,Andorra,13295.0,127.0,12793.0,375.0,13.0,0.0,40.0,-27.0,77265.0,172070.148191
2127,2021-05-03,Angola,27133.0,603.0,24190.0,2340.0,140.0,1.0,277.0,-138.0,32866272.0,825.557581
...,...,...,...,...,...,...,...,...,...,...,...,...
78763,2021-05-03,Venezuela,200931.0,2189.0,182757.0,15985.0,864.0,17.0,2456.0,-1609.0,28435940.0,7066.093120
79230,2021-05-03,Vietnam,2985.0,35.0,2560.0,390.0,23.0,0.0,11.0,12.0,97338579.0,30.666156
79619,2021-05-03,Yemen,6363.0,1239.0,2910.0,2214.0,22.0,6.0,35.0,-19.0,29825964.0,213.337614
80031,2021-05-03,Zambia,91722.0,1253.0,90130.0,339.0,29.0,0.0,48.0,-19.0,18383955.0,4989.241978
80441,2021-05-03,Zimbabwe,38293.0,1573.0,35647.0,1073.0,12.0,3.0,13.0,-4.0,14862924.0,2576.410940

Let's assign new columns with the most interesting rankins ...

In [49]:
last_day_data = last_day_data.assign(
    Rank_ConfirmedAcum = last_day_data.ConfirmedAcum.rank(),
    Rank_Confirmed = last_day_data.Confirmed.rank(),
    Rank_ActiveAcum = last_day_data.ActiveAcum.rank(),
    Rank_Active = last_day_data.Active.rank(),
    Rank_ConfirmedAcum_Millon = last_day_data.ConfirmedAcum_Millon.rank()
)
last_day_data

,Date,Country,ConfirmedAcum,DeathsAcum,RecoveredAcum,ActiveAcum,Confirmed,Deaths,Recovered,Active,Population,ConfirmedAcum_Millon,Rank_ConfirmedAcum,Rank_Confirmed,Rank_ActiveAcum,Rank_Active,Rank_ConfirmedAcum_Millon
434,2021-05-03,Afghanistan,60300.0,2642.0,53391.0,4267.0,178.0,5.0,0.0,173.0,38928346.0,1548.999796,86.0,100.0,91.0,157.0,44.0
855,2021-05-03,Albania,131276.0,2399.0,111792.0,17085.0,38.0,2.0,872.0,-836.0,2877797.0,45616.838158,109.0,72.0,126.0,25.0,128.0
1289,2021-05-03,Algeria,122717.0,3280.0,85534.0,33903.0,195.0,10.0,136.0,49.0,43851044.0,2798.496656,106.0,104.5,140.0,148.0,61.0
1717,2021-05-03,Andorra,13295.0,127.0,12793.0,375.0,13.0,0.0,40.0,-27.0,77265.0,172070.148191,56.0,57.0,51.0,62.0,185.0
2127,2021-05-03,Angola,27133.0,603.0,24190.0,2340.0,140.0,1.0,277.0,-138.0,32866272.0,825.557581,70.0,96.0,77.0,49.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78763,2021-05-03,Venezuela,200931.0,2189.0,182757.0,15985.0,864.0,17.0,2456.0,-1609.0,28435940.0,7066.093120,118.0,137.0,124.0,18.0,74.0
79230,2021-05-03,Vietnam,2985.0,35.0,2560.0,390.0,23.0,0.0,11.0,12.0,97338579.0,30.666156,27.0,65.0,52.0,140.0,6.0
79619,2021-05-03,Yemen,6363.0,1239.0,2910.0,2214.0,22.0,6.0,35.0,-19.0,29825964.0,213.337614,39.0,63.5,75.0,68.5,12.0
80031,2021-05-03,Zambia,91722.0,1253.0,90130.0,339.0,29.0,0.0,48.0,-19.0,18383955.0,4989.241978,95.0,67.5,49.0,68.5,69.0
80441,2021-05-03,Zimbabwe,38293.0,1573.0,35647.0,1073.0,12.0,3.0,13.0,-4.0,14862924.0,2576.410940,77.0,55.5,62.0,82.5,58.0

Which countries have the most confirmed cases?

In [51]:
last_day_data \
  .sort_values('Rank_ConfirmedAcum', ascending = False) \
  .filter(['Country', 'ConfirmedAcum']) \
  .reset_index(drop = True) \
  .head(10)

          Country  ConfirmedAcum
0   United States     32471562.0
1           India     20282833.0
2          Brazil     14779529.0
3          France      5717160.0
4          Turkey      4900121.0
5          Russia      4776844.0
6  United Kingdom      4437505.0
7           Italy      4050708.0
8           Spain      3540430.0
9         Germany      3438186.0

Which countries have more confirmed cases on the last day?

In [52]:
last_day_data \
  .sort_values('Rank_Confirmed', ascending = False) \
  .filter(['Country', 'Confirmed']) \
  .reset_index(drop = True) \
  .head(10)

         Country  Confirmed
0          India   357316.0
1  United States    49921.0
2         Turkey    24733.0
3         Brazil    24619.0
4           Iran    20732.0
5          Spain    16353.0
6      Argentina    15920.0
7       Colombia    11599.0
8         Canada    10933.0
9    Netherlands     9230.0

Which countries have the most active cases?

In [53]:
last_day_data \
  .sort_values('Rank_ActiveAcum', ascending = False) \
  .filter(['Country', 'ActiveAcum']) \
  .reset_index(drop = True) \
  .head(10)

          Country  ActiveAcum
0          France   5248828.0
1  United Kingdom   4295024.0
2           India   3447133.0
3           Spain   3311761.0
4     Netherlands   1500111.0
5          Brazil   1235764.0
6         Belgium    972574.0
7          Sweden    959556.0
8          Serbia    686737.0
9            Iran    477763.0

Which countries had the most active cases on the last day?

In [54]:
last_day_data \
  .sort_values('Rank_Active', ascending = False) \
  .filter(['Country', 'Active']) \
  .reset_index(drop = True) \
  .head(10)

       Country   Active
0        India  33300.0
1        Spain  16276.0
2  Netherlands   9102.0
3        Nepal   5330.0
4  Switzerland   3957.0
5         Iran   3557.0
6   Costa Rica   3168.0
7      Germany   3157.0
8       France   2458.0
9       Greece   2012.0

Which countries have the most active cases per million inhabitants?

In [55]:
last_day_data \
  .sort_values('Rank_ConfirmedAcum_Millon', ascending = False) \
  .filter(['Country', 'ConfirmedAcum_Millon']) \
  .reset_index(drop = True) \
  .head(20)

                     Country  ConfirmedAcum_Millon
0                    Andorra         172070.148191
1                 Montenegro         155585.559479
2   Czech Republic (Czechia)         152640.013088
3                 San Marino         149332.468834
4                   Slovenia         116349.309118
5                 Luxembourg         107823.278134
6                    Bahrain         106055.860012
7              United States          98100.610076
8                     Israel          96888.407245
9                     Sweden          96403.451142
10                   Estonia          92679.801136
11                 Lithuania          91958.274819
12               Netherlands          90079.108849
13                    France          87587.750565
14                   Belgium          86016.257820
15                    Panama          84662.509007
16                  Portugal          82130.126495
17                   Croatia          81729.641458
18                   Hungary          81167.961702
19                    Serbia          79333.817918

What is the total number of cases?

In [74]:
pd.DataFrame(
    last_day_data.filter(["ConfirmedAcum", "RecoveredAcum", "DeathsAcum"]).aggregate("sum"),
    columns = ["Total"]
) \
.transpose() \
.set_axis(["Confirmed", "Recovered", "Deaths"], axis = 'columns') \
.style.format("{:,.0f}")

## Exporting to Excel the clean dataset

Finally I will create an Excel file with the information per country once it is clean and in perfect condition to apply some machine learning algorithms ...

In [75]:
data_by_country.to_excel("All_data.xlsx", index = False)